@use '../../../assets/styles/index.scss' as var;

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: var.$color-text;

  .rewardImage {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: var.$color-gray;
    border-radius: 6px;
    background-image: url('../../../assets/icons/star-gray.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;

    .medal {
      width: 16px;
      height: 16px;
      position: absolute;
      top: -2px;
      right: -2px;
    }
  }

  .rewards {
    margin-bottom: -12px;
    padding: 10px 10px 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    flex-direction: column;
    gap: 20px;

    border-radius: 12px 12px 0 0;
    background: var.$color-card-bg;
  }
}