.wrp {
    width: 85vw;
    height: 190px;
    display: flex;
    flex-direction: column;
    background-color: #1C1D22;
    border-radius: 10px;
    gap: 20px;
    padding: 10px;

    .usernameAndComment {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .username {
            font-size: 14px;
            font-weight: 500;
            margin: 0;
            color: #2F80ED;
        }
    
        .positiveCommentText {
            font-size: 14px;
            font-weight: 500;
            margin: 0;
            color: #219653;
        }

        .negativeCommentText {
            font-size: 14px;
            font-weight: 500;
            margin: 0;
            color: #E84949;
        }
    }

    .progressWrp {
        .amountAndRewardWrp {
            display: flex;
            width: 100%;
            justify-content: space-between;
            .amount {
                font-size: 12px;
                font-weight: 500;
                color: #AFB9D4;
                margin: 0;
            }

            .rewardWrp {
                display: flex;
                gap: 5px;
                .reward {
                    color: #fff;
                    font-size: 12px;
                    font-weight: 500;
                    margin: 0;
                }
            }
        }
    }

    .thumbs {
        display: flex;
        gap: 10px;
        
        .thumbsUp {
            height: 40px;
            width: 40px;
            border-radius: 10px;
            background-color: #219653;

            border: none;
            background-image: url('../../assets/icons/thumbs_up.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-size: 50%;
        }

        .thumbsDown {
            height: 40px;
            width: 40px;
            border-radius: 10px;
            background-color: #E84949;

            border: none;
            background-image: url('../../assets/icons/thumbs_down.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-size: 50%;
        }
    }
}