@use '../../../assets/styles/abstracts/colors' as var;
@use 'sass:color';

.images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .light {
    position: absolute;
    width: 35%;
    margin-top: 150px;
    @media (max-width: 992px) {
      width: 60%;
    }
    @media (max-width: 575px) {
      width: 120%;
    }
  }
}

.info {
  position: relative;
  max-width: 140px;
  border: 2px solid var.$color-blue-primary;
  border-radius: 8px;
  margin: 0 auto;

  .top {
    position: relative;
    background-color: var.$color-gray;
    padding: 20px 60px;
    .lightning {
      position: absolute;
      top: 6px;
      left: 6px;
      padding: 5px;
      background-color: var.$footer-bg;
      border-radius: 4px;
    }
    .integration {
      position: relative;
      margin: 0 auto;
    }
  }

  .bottom {
    padding: 5px 0;
    background-color: var.$color-dark-gray-stroke;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    .title {
      color: var.$color-white;
    }

    .rate {
      display: flex;
      gap: 5px;
    }

    .progress {
      width: 95%;
      height: 18px;
      border-radius: 4px;
      background: var.$color-gray;
      border: 1px solid var.$color-dark-gray-stroke;
      overflow: hidden;
      .progressBar {
        width: 30%;
        height: 16px;
        background: var.$color-primary;
      }
    }
  }
}

.icons {
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  gap: 15px;
  justify-content: center;
  .item {
    display: flex;
    align-items: center;
    gap: 3px;

    p {
      color: var.$color-white;
    }
    img {
      width: 14px;
    }
  }
}

.desc {
  margin-bottom: 30px;
  color: var.$color-text-semi-transparent;
  text-align: center;
}
.desc p {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.coin {
  width: 14px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reward {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
