@use '../../../assets/styles/abstracts/colors' as var;
@use 'sass:color';
.images {
  pointer-events: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.light {
  position: absolute;
  z-index: 1;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.top {
  position: relative;
  padding: 5px;
  background: #28283099;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 26px;
  z-index: 111;
  bottom: 20px;
  backdrop-filter: blur(5px);
}
.top p {
  color: var.$color-white;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}
.top img {
  width: 21px;
}
.bottom {
  margin-bottom: 30px;
}
.bottom p {
  color: var.$color-text-semi-transparent;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.background {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reward {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
