@use '/src/assets/styles' as *;
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 15px;
  background-color: $color-bg;

  .titleWrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .title {
    text-align: center;
    font-size: 20;
    font-weight: 600;
    color: $color-white;
  }
  .scores {
    display: flex;
    gap: 5px;

    .scoresItem {
      display: flex;
      align-items: center;
      padding: 4px 4px 4px 7px;
      border-radius: 10px;
      background: $color-badge-bg;
      font-size: 14px;
      line-height: 100%;

      img {
        width: 14px;
        height: 14px;
        margin-left: 2px;
      }

      p {
        font-weight: 500;
        color: $color-white;
      }
    }
  }
  .sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 345px;
  }
  .sectionTitle {
    color: $color-text-semi-transparent;
    font-weight: 500;
  }
  .sectionCount {
    display: flex;
    align-items: center;
    gap: 5px;
    p {
      font-weight: 500;
      color: $color-white;
    }
  }
  .integrationsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
  }
  .info {
    font-size: 20;
    font-weight: 600;
    color: $color-white;
  }
}
