@use '/src/assets/styles' as var;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var.$color-bg;

  .titleWrapper {
    width: 100%;
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 10px;
  }

  .backButton {
    width: 40px;
    height: 40px;
    position: absolute;
    display: flex;
    padding: 8px 9px 10px 9px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background: var.$color-gray;
  }

  .title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: var.$color-white;
  }

  .scores {
    display: flex;
    justify-content: center;
    gap: 5px;

    .scoresItem {
      display: flex;
      align-items: center;
      padding: 4px 4px 4px 7px;
      border-radius: 10px;
      background: var.$color-badge-bg;
      font-size: 14px;
      line-height: 100%;

      img {
        width: 14px;
        height: 14px;
        margin-left: 2px;
      }

      p {
        font-weight: 500;
        color: var.$color-white;
      }
    }
  }

  .sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 345px;
  }

  .sectionTitle {
    color: var.$color-text-semi-transparent;
    font-weight: 500;
  }

  .sectionCount {
    display: flex;
    align-items: center;
    gap: 5px;

    p {
      font-weight: 500;
      color: var.$color-white;
    }
  }

  .integrationsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .info {
    font-size: 20px;
    font-weight: 600;
    color: var.$color-white;
  }
}
