@use '../../assets/styles' as var;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var.$color-bg;

  .hand {
    display: flex;
    justify-content: center;
    aspect-ratio: 1;
    width: 100px;
    height: 100px;
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    color: var(--Gray-2, #4F4F4F);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.9px;
    padding: 0 10px;

    .text {
      white-space: nowrap;
    }
  }

  .withMargin {
    margin: -20px -15px;
  }
}