@use '../../assets/styles' as var;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var.$color-bg;

  .hand {
    display: flex;
    justify-content: center;
    aspect-ratio: 1;
    width: 120px;
    margin: -30px;
  }

  .loading {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    overflow: hidden;
    color: var(--Gray-1, #333);
    text-align: center;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.9px;

    .text {
      grid-column: 2/2;
    }
  }

  .withMargin {
    margin: -20px -15px;
  }
}