@use '../../../assets/styles/index.scss' as var;

button {
    width: 100%;
    background-color: var.$color-gray;
    color: white;
    height: 44px;
    padding: 10px 0;
    border: 1px solid var.$color-dark-gray;
    border-radius: 8px;
    font-size: 14px;
}

.image {
    position: absolute;
    top: 50%;
    right: 40px;
}