@use '../../../assets/styles' as var;


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: 100%;
  gap: 20px;
}


.tabs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 16px;
  width: max-content;
  background-color: var.$color-card-bg;
  border-radius: 30px;
  padding: 3px 6px;
}

.tab {
  background: transparent;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 28px;
  color: white; 
  font-size: 12px;
}


.activeTab {
  background: #D9DCE1;
  color: black;
}

.grid {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(44px, 1fr));
  gap: 8px;
  justify-content: space-between;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: #222;
  border: none;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.selected {
  border: 2px solid var.$color-primary;
}

.icon {
  font-size: 24px;
}