@use '../../../assets/styles' as var;


$primary-color: #ffffff;
$background-dark: #121212;
$highlight: #4a4a4a;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $background-dark;
  color: $primary-color;
  border-radius: 12px;
  width: 100%;
  gap: 20px;
}


.tabs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 16px;
  width: max-content;
  background-color: var.$color-card-bg;
  border-radius: 30px;
  padding: 3px 6px;
}

.tab {  
    
  background: transparent;
  border: none;
  color: $primary-color;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 28px;
  transition: background 0.3s;


  font-size: 12px;
  
  &:hover {
    background: $highlight;
  }
}

.activeTab {
  background: #D9DCE1;
  color: black;
}

.grid {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(44px, 1fr)); 
  gap: 8px;
  justify-content: space-between;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: #222;
  border: none;
  color: $primary-color;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: $highlight;
  }
}

.selected {
  border: 2px solid blue;
}

.icon {
  font-size: 24px;
}
