@use '../../../assets/styles' as var;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: 100%;
  gap: 20px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var.$color-card-bg;
  border-radius: 30px;
  padding: 3px;
  gap: 8px;
}

.tab {
  flex: 1;
  text-align: center;
  background: transparent;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 28px;
  color: white;
  font-size: 12px;
}

.vipTab {
  font-weight: 600;
  background: linear-gradient(90deg, #1551e8 -19.37%, #e84951 121.25%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.activeTab {
  background: #d9dce1;
  color: black;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(44px, 1fr));
  gap: 8px;
  justify-content: space-between;
}

.wardrobe{
  padding: 0 15px;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1;
  background: #222;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.selected {
  border: 2px solid var.$color-primary;
}

.icon {
  font-size: 24px;
}
