@use '../../../../assets/styles/index.scss' as var;

.wrp {
  width: 100%;
  background-color: var.$color-card-bg;
  padding: 10px;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: var.$breakpoint-md) {
    gap: 24px;
  }

  .header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;

    @media (min-width: var.$breakpoint-md) {
      gap: 20px;
    }

    .fire {
      display: grid;
      place-content: center;
      aspect-ratio: 1;
      border-radius: 8px;
      padding: 10px;
      background-color: var.$footer-bg;
      width: 90px;
      height: auto;

      &.stranger {
        width: 75px;
      }

      img {
        width: 40px;
        height: auto;
      }
    }

    .daysInARowWrp {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      gap: 10px;

      .daysInARow {
        margin: 0;
        hyphens: auto;
        max-width: 91px;
        color: var.$color-grayish-white;
        text-wrap: pretty;
        font-size: 24px;
        font-weight: 600;
        line-height: 110%;
        letter-spacing: -1.2px;

        &.stranger {
          text-wrap: nowrap;
        }
      }

      .badge {
        height: 28px;
        color: var.$color-blue-primary;
        padding: 5px;
        width: fit-content;
        border-radius: 4px;
        font-size: 14px;
        background-color: var.$color-gray;
      }
    }
    .badgePurple {
      color: var.$color-purple;
      padding: 5px;
      width: fit-content;
      border-radius: 4px;
      font-size: 14px;
      background-color: var.$color-gray;
    }
    .badgeRed {
      color: var.$color-red;
      padding: 5px;
      width: fit-content;
      border-radius: 4px;
      font-size: 14px;
      background-color: var.$color-gray;
    }
  }

  .title {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    font-weight: 600;
    margin: 10px 0 0;
  }

  .freezeCount {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-weight: 500;
    gap: 5px;
    font-size: 20px;
    height: fit-content;
    padding: 3px 4px;
    border-radius: 4px;
    background: var.$footer-bg;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .icon img {
    width: 50px;
    height: 50px;
  }

  .streakDays {
    display: flex;
    justify-content: space-between;
  }

  .progressContainer {
    display: flex;
    flex-direction: column;
    font-size: 14px;

    .progressText {
      font-size: 12px;
      font-weight: 500;
      color: var.$color-text-semi-transparent;

      @media (min-width: var.$breakpoint-md) {
        font-size: 16px;
      }
    }
  }

  .reward {
    display: flex;
    align-items: center;
    height: 12px;

    .chestImgContainer {
      padding-left: 10px;

      .chestImg {
        aspect-ratio: 1;
        width: 20.61px;
        height: 17;
      }
    }
  }

  .progressBarTextWrp {
    display: flex;
    justify-content: space-between;
  }

  .progress {
    height: 100%;
    background: #e63946;
  }
}
