@use '../../../assets/styles/index.scss' as var;


.statsUnderTitleWrp {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;


  .toCenterStats {
    width: 40px;
    height: 40px;
  }

  .statsUnderTitle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    max-width: 225px;

    .topStats {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 5px;
    }

    .statWrp {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      height: fit-content;
      padding: 5px 5px 5px 7px;
      border-radius: 10px;
      background-color: var.$color-badge-bg;

      .stat {
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        white-space: nowrap;
      }
    }

    @media (min-width: var.$breakpoint-md) {
      flex-direction: row;
    }
  }

  .seeStatsButton {
    height: 40px;
    min-width: 40px;
    border-radius: 10px;
    background-color: var.$color-blue-primary;
    border: none;
    background-image: url('../../../assets/icons/stats-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    margin-right: 15px;
    flex-grow: 0;
  }
}
