@use '/src/assets/styles' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: -50px;
  margin-bottom: 100px;

  // min-height: calc(var(--tg-viewport-stable-height) - 140px); //not working properly on test server
  //height: 100%;
  overflow-y: visible;

  .titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .linkInventory {
      background: $color-primary;
      padding: 9px;
      border-radius: 10px;
      border: none;

      img {
        width: 22px;
        height: 22px;
      }
      @media (min-width: $breakpoint-md) {
        padding: 10px;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
    .linkBack {
      @extend .linkInventory;
      background: $footer-bg;
    }

    .mainHeader {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .title {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: $color-white;

        @media (min-width: $breakpoint-md) {
          font-size: 24px;
          line-height: 24px;
        }
      }

      .scores {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        margin: 0 15px;

        .scoresItem {
          background: $color-badge-bg;
          padding: 4px 7px;
          border-radius: 999px;
          display: flex;
          align-items: center;

          img {
            width: 18px;
            height: 18px;
            margin-left: 2px;
          }

          p {
            font-weight: 500;
            color: $color-white;
          }

          @media (min-width: $breakpoint-md) {
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .navs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .coloredNav {
      .tabItem {
        &:first-child {
          background: $color-primary;
        }
      }
    }
  }
}

.glowing {
  box-shadow: 0 0 60px $color-primary;
}

.elevatedBordered {
  z-index: 200;
  border: 2px solid $color-primary;
}

.elevated {
  z-index: 200;
}