@use '/src/assets/styles' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .linkInventory{
      background: $color-primary;
      padding: 9px;
      border-radius: 10px;
      border: none;

      img{
        width: 22px;
        height: 22px;
      }
    }
    .linkBack{
      @extend .linkInventory;
      background: $color-gray;
    }

    .mainHeader {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .title {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: $color-white;
      }

      .scores {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        margin: 0 15px;

        .scoresItem {
          background: $color-badge-bg;
          padding: 4px 7px;
          border-radius: 10px;
          display: flex;
          align-items: center;

          img {
            width: 14px;
            height: 14px;
            margin-left: 2px;
          }

          p {
            font-weight: 500;
            color: $color-white;

          }
        }
      }
    }
  }

  .navs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .coloredNav {
      .tabItem {
        &:first-child {
          background: $color-primary;
        }
      }
    }
  }
}
