@use '../../../../assets/styles/index.scss' as var;


.badgesWrp {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: center;
  gap: 3px;

  .badge {
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: white;
    padding: 4px 4px 4px 7px;
    background: #212129;

    img {
      @include var.multi-size(14px, 18px)
    }
  }

  .value {
    @include var.multi-fz(14px, 16px);
  }

  .icon {
    margin-left: 5px;
  }

  .level {
    color: var.$color-text-semi-transparent;

    @include var.multi-fz(10px, 12px);
  }


}

.noReferrals {
  color: var.$color-text-super-transparent;
  width: 100%;
  text-align: center;
  margin: 15px 0;
}