@use '../../../../assets/styles/index.scss' as var;

.badgesWrp {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: center;
  gap: 3px;

  .badge {
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: white;
    padding: 4px 4px 4px 7px;
    background: #212129;

    img {
      @include var.multi-size(14px, 18px);
    }
  }

  .value {
    @include var.multi-fz(14px, 16px);
  }

  .icon {
    margin-left: 5px;
  }

  .level {
    color: var.$color-text-semi-transparent;

    @include var.multi-fz(10px, 12px);
  }
}

.list {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  transform: translateX(-15px);

  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .item {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;

    .loadingText {
      color: var.$color-text-super-transparent;
    }
  }
}

.noReferrals {
  color: var.$color-text-super-transparent;
  width: 100%;
  text-align: center;
  margin: 15px 0;
}
