@use    '../../../../assets/styles/index.scss' as var;

.headerIncrease {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0 0;
  color: white;
}

.listBadge {
  position: relative;
}

.badge {
  display: flex;
  gap: 5px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 100%;
  color: white;
}

.textName {
  color: var.$color-text-semi-transparent;
}

.wrapperIncrease {
  width: 100%;
  background: var.$color-card-bg;
  padding: 10px;
  border-radius: 12px;
}

.subscribers {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.contentFriends {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nameFriends {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 16px;
  letter-spacing: -0.05em;
}

.subscribers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.userCardBottom {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 31px;
}


.text {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: var.$color-white;
}

.level {
  font-size: 10px;
  position: absolute;
  top: -3px;
  right: -20px;
  color: var.$color-text-semi-transparent
}

.noReferrals {
  color: var.$color-text-super-transparent;
  width: 100%;
  text-align: center;
  margin: 15px 0;
}