@use '../../assets/styles/index.scss' as var;

.wrp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;

    overflow-x: hidden;
    color: white;

    background-color: var.$color-bg;

    margin: 0;

    padding: 20px 15px;

    .pageTitle {
        font-size: 20px;
        font-weight: 600;
        width: 100%;
        text-align: center;
        margin-bottom: 0;
    }

    .integrationNameWrp {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-self: center;
        
        align-items: center;

        margin-top: 15px;

        margin-bottom: 10px;

        .integrationTitle {
            font-size: 14px;
            font-weight: 500;
            color: var.$color-text-semi-transparent;
            margin: 0;
        }

        .integrationLevelWrp {
            display: flex;
            gap: 5px;
            align-items: center;
            .integrationLevel {
                font-size: 14px;
                font-weight: 500;
                color: #fff;
                margin: 0;
            }
        }
    }

   

    .commentsSectionTitleWrp {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        .commentsSectionTitle {
            font-weight: 500;
            font-size: 14px;
            color: var.$color-text-semi-transparent;
        }

        .commentsAmount {
            color: white;
            font-size: 14px;
        }
    }
}