@use '../../../assets/styles' as var;

.inputContainer {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.input {
  padding: 6px;
  height: 36px;
  width: 36px !important;
  border: 1px solid var.$color-dark-gray-stroke;
  border-radius: 8px;
  background: transparent;
  overflow: hidden;
  color: var.$color-text;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;

  &:focus {
    border-color: var.$color-text-super-transparent;
  }
}

.errorMessage {
  width: 100%;
  color: var.$color-red;
  font-size: 14px;
  text-align: center;
}
