@use '../../assets/styles' as var;

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .innerContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .semiText {
    color: var.$color-text-semi-transparent;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 130%;
  }

  .progressBarSection {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .progressBarSectionHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var.$color-text-semi-transparent;
      font-size: 12px;
      font-weight: 500;
      line-height: 100%;

      .progressReward {
        display: flex;
        gap: 5px;
      }
    }

    .progressBar {
      height: 16px;
      border-radius: 4px;
      background-color: var.$color-gray;
      border: 1px solid var.$color-dark-gray;
      overflow: hidden;

      &.active {
        border: 1px solid var.$color-purple;
      }

      .progressBarInner {
        height: 100%;
        background-color: var.$color-purple;
      }
    }
  }

  button {
    border: none;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    outline: 1px solid var.$color-border-secondary;
    background-color: var.$color-purple;
    color: var.$color-text;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;

    &:disabled {
      cursor: default;
      outline: none;
      background-color: var.$color-button-inactive;
      color: var.$color-gray;
    }

    &.textButton {
      outline: none;
      background-color: transparent;
      color: var.$color-purple;
      font-size: 14px;
      font-weight: 500;
      line-height: 130%;

      &:disabled {
        color: var.$color-text;
      }
    }
  }
}