@use '../../../../assets/styles/index.scss' as var;

.ulBlock {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listUser {
  width: 100%;
  height: 56px;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background: var.$color-card-bg;

  &:last-child {
    margin-bottom: 10px;
  }

  &.active {
    border: 2px solid var.$color-primary;
  }
}

.subscribers {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  color: var.$color-white;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 5px 0 10px 0;
}

.blogUsers {
  height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include var.custom-scroll();
  margin-bottom: -40px;
}

.listBadge {
  position: relative;
  display: flex;
  align-items: center;
  height: 22px;
  padding: 4px 4px 4px 7px;
  border-radius: 10px;
  background: var.$color-badge-bg;

}

.badge {
  display: flex;
  gap: 5px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 100%;
}

.text {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: var.$color-white;
}

.badgeText {
  color: var.$color-purple;
}

.userBlock {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.infoRang {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.numUser {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  height: 16px;
  padding: 2px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: var.$color-purple;
  background: var.$footer-bg;
}

.cardBlock, .vipCard, .cardBox, .vipCardBox {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  border-radius: 8px;
  background: var.$color-dark-gray-stroke;
}

.vipCard {
  background: var.$gradient;
}

.vipCardBox {
  border: 2px solid var.$color-purple;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: var.$footer-bg;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
}

.card img, .cardBox img {
  max-width: 100%;
  max-height: 100%;
}

.number {
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 4px;
  background: var.$color-primary;
  color: var.$color-white;
}

.vip {
  max-width: 36px;
  display: flex;
  align-items: center;
  padding: 2px;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  background: linear-gradient(90deg, #1551E8 -1.82%, #E84951 100%);
  z-index: 2;
}

.fireIcon {
  display: flex;
  align-items: center;
  background: var.$color-red;
  color: var.$color-white;
  padding: 2px;
  font-size: 12px;
  border-radius: 4px;
}
