@use '../../../assets/styles' as var;
@use 'sass:color';

.storeCard {
  background-color: var.$color-card-bg;
  align-self: stretch;
  padding: 10px;
  border-radius: 12px;
  .header {
    display: flex;
    gap: 10px;
    .image {
      border-radius: 8px;
      background: var.$footer-bg;
      flex-direction: column;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      min-width: 60px;
      height: 60px;

      @media (min-width: var.$breakpoint-md) {
        min-width: 66px;
        height: 66px;
      }
      p {
        background: var.$color-primary;
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
        font-size: 12px;
        padding: 2px 5px;
        border-radius: 4px;
      }
      .disabledImageIcon {
        position: absolute;
        width: 40px;
        height: 40px;

        g {
          color: var.$light-gray-bg;
        }
      }
      .disabledImage {
        opacity: 0.3;
      }
    }

    .title {
      display: flex;
      flex-direction: column;
      flex: 1;
      .headline {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h3 {
          color: var.$color-white;
          font-weight: 500;
          font-size: 16px;
          margin-bottom: 4px;
        }
      }
      .level {
        font-weight: 500;
        font-size: 12px;
        color: var.$color-primary;
        line-height: 12px;
        opacity: 0.3;
        @media (min-width: var.$breakpoint-md) {
          font-size: 14px;
        }
      }

      .colorPurple {
        @extend .level;
        color: var.$color-purple;
      }

      .colorRed {
        @extend .level;
        color: red;
      }

      .stats {
        display: flex;
        flex-wrap: wrap;
        margin-top: auto;
        width: 100%;
        gap: 5%;
        opacity: 0.3;

        .statsItem {
          display: flex;
          align-items: center;
          gap: 2px;

          img {
            width: 14px;
            height: 14px;
            @media (min-width: var.$breakpoint-md) {
              width: 18px;
              height: 18px;
            }
          }
          p {
            color: var.$color-white;
            font-size: 14px;
            @media (min-width: var.$breakpoint-md) {
              font-size: 16px;
            }
          }
        }
      }
      .disabledStats {
        opacity: 0.3;
      }
    }
  }

  .actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    button {
      border-radius: 8px;
      padding: 8px 12px;
      display: flex;
      justify-content: center;
      font-weight: 500;
      align-items: center;
      background: var.$color-gray;
      border: 1px solid var.$color-dark-gray-stroke;
      color: var.$color-white;
      gap: 5px;

      img {
        width: 14px;
        height: 14px;
      }
      @media (min-width: var.$breakpoint-md) {
        font-size: 16px;
        padding: 10px 12px;

        img {
          width: 18px;
          height: 18px;
        }
      }
      &:first-child {
        background: var.$color-primary;
        border: 1px solid var.$color-border-primary;
        flex: 1;
      }

      &:last-child {
        flex: 1;
        border: none;
      }
    }
  }

  .disabledUpgradeActions {
    background: color.scale(var.$color-primary, $alpha: -80%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 2px;
    align-items: center;
    margin-top: 20px;
    img {
      width: 14px;
      height: 14px;
    }
    p {
      line-height: 14px;
      color: var.$grayed-white;
      font-weight: 500;
    }
  }

  .disabledActions {
    @extend .disabledUpgradeActions;
    background: var.$color-gray;
    border: 1px solid var.$color-dark-gray-stroke;
    width: 100%;

    color: var.$color-white;
  }

  .disabledText {
    color: var.$color-text-semi-transparent;
    margin-top: 20px;
    line-height: 14.4px;
    font-size: 12px;
    font-weight: 500;

    .itemNamePurple {
      color: var.$color-purple;
    }
    .itemNameBlue {
      color: var.$color-primary;
    }
  }
}

.glowingBtn {
  box-shadow: 0 0 50px var.$color-primary;
  background: var.$color-primary;
}