@use '../../../assets/styles' as var;
@use 'sass:color';


.storeCard {
  background-color: var.$color-card-bg;
  align-self: stretch;
  padding: 10px;
  border-radius: 12px;
  .header {
    display: flex;
    gap: 10px;
    .image {
      border: 2px solid var.$color-primary;
      border-radius: 8px;
      background: var.$footer-bg;
      flex-direction: column;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      min-width: 60px;
      height: 60px;
      p {
        background: var.$color-primary;
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
        font-size: 12px;
        padding: 2px 5px;
        border-radius: 4px;
      }
      .disabledImageIcon {
        position: absolute;
        width: 40px;
        height: 40px;

        g {
          color: var.$light-gray-bg;
        }
      }
      .disabledImage {
        opacity: 0.3;
      }
    }

    .purpleImage {
      @extend .image;
      border-color: var.$color-purple;
      p {
        background-color: var.$color-purple;
      }
    }
    .redImage {
      @extend .image;
      border-color: red;
      p {
        background-color: red;
      }
    }

    .title {
      display: flex;
      flex-direction: column;
      flex: 1;
      .headline {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h3 {
          color: var.$color-white;
          font-weight: 500;
          font-size: 16px;
          margin-bottom: 4px;
        }

        .variant {
          background: var.$color-primary;
          opacity: 0.5;
          align-self: flex-start;
          padding: 2px 5px;
          border-radius: 4px;
          p {
            color: var.$color-dark-gray-stroke;
            font-size: 12px;
            line-height: 12px;
            text-wrap: nowrap;
          }
        }

        .variantPurple {
          @extend .variant;
          background-color: var.$color-purple;
        }
        .variantRed {
          @extend .variant;
          background-color: red;
        }
      }
      .level {
        font-weight: 500;
        font-size: 12px;
        color: var.$color-primary;
        line-height: 12px;
      }

      .colorPurple {
        @extend .level;
        color: var.$color-purple;
      }

      .colorRed {
        @extend .level;
        color: red;
      }

      .stats {
        display: flex;
        flex-wrap: wrap;
        margin-top: auto;
        width: 100%;
        gap: 5%;

        .statsItem {
          display: flex;
          align-items: center;
          gap: 2px;
          img {
            width: 14px;
            height: 14px;
          }
          p {
            color: var.$color-white;
            font-size: 14px;
          }
        }
      }
      .disabledStats {
        opacity: 0.3;
      }
    }
  }

  .progress {
    margin-top: 20px;
    .text {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 12px;
        line-height: 12px;
        color: var.$color-text-semi-transparent;
        font-weight: 500;
      }
      .goal {
        display: flex;
        align-items: center;
        gap: 5px;
        img {
          width: 12px;
          aspect-ratio: 1;
        }
      }
    }

    .progressBar {
      margin-top: 5px;
      border: 1px solid var.$color-dark-gray-stroke;
      border-radius: 6px;
      overflow: hidden;
      background: var.$color-gray;
      .done {
        height: 16px;
        background: var.$color-primary;
      }

      .donePurple {
        @extend .done;
        background-color: var.$color-purple;
      }
      .doneRed {
        @extend .done;
        background-color: red;
      }
    }

    .items {
      display: flex;
      margin-top: 5px;
      gap: 5px;
      .item {
        border: 1px solid var.$color-primary;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background: var.$footer-bg;
        .itemImage {
          width: 24px;
          height: 24px;
        }

        .lock {
          display: none;
          width: 12px;
          height: 12px;
          position: absolute;
        }
      }

      .itemLocked {
        @extend .item;
        opacity: 0.5;
        border: transparent;

        .lock {
          display: block;
        }
      }

      .itemPurple {
        @extend .item;
        border-color: var.$color-purple;
      }
      .itemRed {
        @extend .item;
        border-color: red;
      }
    }
  }

  .actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    button {
      border-radius: 8px;
      padding: 10px 12px;
      display: flex;
      justify-content: center;
      font-weight: 500;
      align-items: center;
      background: var.$color-gray;
      border: 1px solid var.$color-dark-gray-stroke;
      color: var.$color-white;
      gap: 5px;

      &:first-child {
        background: var.$color-primary;
        border: 1px solid var.$color-border-primary;
        flex: 1;

        img {
          width: 14px;
          aspect-ratio: 1;
        }
      }

      &:last-child {
        background: var.$color-gray;
        opacity: 0.3;
        flex: 1;
        border: none;
      }
    }
  }

  .disabledUpgradeActions {
    background: color.scale(var.$color-primary, $alpha: -80%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 2px;
    align-items: center;
    margin-top: 20px;
    img {
      width: 14px;
      height: 14px;
    }
    p {
      line-height: 14px;
      color: var.$grayed-white;
      font-weight: 500;
    }
  }

  .disabledActions {
    @extend .disabledUpgradeActions;
    background: var.$color-gray;
    border: 1px solid var.$color-dark-gray-stroke;
    width: 100%;

    color: var.$color-white;
  }

  .disabledText {
    color: var.$color-text-semi-transparent;
    margin-top: 20px;
    line-height: 14.4px;
    font-size: 12px;
    font-weight: 500;

    .itemNamePurple {
      color: var.$color-purple;
    }
    .itemNameBlue {
      color: var.$color-primary;
    }
  }
}
