@use '../../../assets/styles/index.scss' as var;

.wrp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    .content {
        width: 300px;
        padding: 15px;
        gap: 20px;
        background-color: var.$color-bg;
        border-radius: 12px;
        border: 1px solid var.$color-dark-gray;

        &.left {
            margin-left: 20px;
        }

        &.right {
            margin-right: 20px;
            margin-left: auto; 
        }

        .description {
            color: var.$color-grayish-white;
            font-size: 14px;
            white-space: normal;
            margin-bottom: 20px;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.wrp {
    animation: fadeIn 0.3s ease-in-out;
}