@use '../../../assets/styles/index.scss' as var;

.wrp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    .content {
        position: absolute;
        width: 80%;
        padding: 15px;
        gap: 20px;
        background-color: var.$color-bg;
        border-radius: 12px;
        border: 1px solid var.$color-dark-gray;

        &.left {
            left: 20px;
        }

        &.right {
            right: 20px;
        }

        .description {
            margin-bottom: 10px;
            color: var.$color-grayish-white;
            font-size: 14px;
            white-space: normal;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.wrp {
    animation: fadeIn 0.3s ease-in-out;
}