@use '../../../assets/styles/abstracts/colors' as var;
@use 'sass:color';

.background {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reward {
  width: 100%;
  height: 500%;
  object-fit: cover;
}

.images {
  pointer-events: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.gift {
  width: 20%;
  position: relative;
}

.items {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var.$color-white;
}

.item img {
  width: 16px;
}

.desc {
  color: var.$color-text-semi-transparent;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  padding: 0 20px;
  white-space: normal;
  overflow-wrap: break-word;
  hyphens: auto;
  font-size: 14px;
  box-sizing: border-box;
}

.statsContainer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statValue {
  color: var.$color-blue-primary;
  background-color: var.$color-dark-gray;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 5px;
  backdrop-filter: blur(5px);
}

.extra {
  color: var.$color-text-semi-transparent;
}

.stat:nth-child(2) .extra,
.stat:last-child .extra {
  font-size: 12px;
  position: relative;
  bottom: 2px;
}

.statBox {
  display: flex;
  align-items: center;
  padding: 2px;
  border-radius: 4px;
  background-color: var.$color-dark-gray;
  color: var.$color-white;
  backdrop-filter: blur(5px);
}

.statBox img {
  width: 16px;
  height: 16px;
  margin: 0 4px;
}
