@use '../../../src/assets/styles' as var;

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: var.$color-bg;
}
.avatarSection {
  max-width: 260px;
  width: 100%;
  padding-top: 40px;

  .avatarPreview {
    width: 280px;
    height: 280px;
    margin: 32px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 2px solid var.$color-dark-gray-stroke;
    background: var.$footer-bg;

    svg {
      width: 48px;
      height: 48px;
      color: var.$color-white;
    }
  }

  .bodyPartsContainer {
    display: flex;
    flex: 1;
    margin: 20px 0;
    background: var.$color-dark-gray-stroke;
    border-radius: 30px;
    padding: 3px;
    width: 100%;

    .bodyPartButton {
      flex: 1;
      padding: 5px 10px;
      border-radius: 100px;
      color: var.$color-text-semi-transparent;
      background: transparent;
      border: none;
      cursor: pointer;
      &.active {
        border-radius: 28px;
        background: #d9dce1;
        color: var.$color-black;
      }
    }
  }
}

.skinOptionsGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  width: calc(100% - 32px);
  max-width: 315px;
  margin-bottom: 52px;

  .skinOption {
    aspect-ratio: 1;
    background: var.$footer-bg;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s ease;
    border: 1px solid var.$color-dark-gray-stroke;

    img {
      width: 20px;
      height: 20px;
    }

    &[data-selected='true'] {
      border: 2px solid var.$color-blue-primary;
    }
  }
}

.continueButton {
  justify-content: center;
  align-items: center;
  margin: auto 0 30px;
  width: calc(100% - 32px);
  max-width: 315px;
  padding: 10px;
  color: var.$color-white;
  border-radius: 8px;
  border: 1px solid var.$color-border-primary;
  background: var.$color-blue-primary;
  cursor: pointer;
}

.selectText {
  color: var.$color-text-super-transparent;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 60px;
  line-height: 100%;
  letter-spacing: -0.8px;
}
