@use '../../../src/assets/styles' as var;

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: var.$color-bg;
}

.skinControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.avatarSection {
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .avatarPreview {
    width: 280px;
    height: 280px;
    margin: 32px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 2px solid var.$color-dark-gray-stroke;
    background: var.$footer-bg;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .bodyPartsContainer {
    display: flex;
    flex: 1;
    margin: 20px 0;
    background: var.$color-dark-gray-stroke;
    border-radius: 30px;
    padding: 3px;

    .tab {
      flex: 1;
      padding: 5px 10px;
      border-radius: 100px;
      color: var.$color-text-semi-transparent;
      background: transparent;
      border: none;
      cursor: pointer;
      &.activeTab {
        border-radius: 28px;
        background: #d9dce1;
        color: var.$color-black;
      }
    }
    .vipTab {
      font-weight: 600;
      background: linear-gradient(90deg, #1551e8 -19.37%, #e84951 121.25%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
  }
}

.skinOptionsGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  width: calc(100% - 32px);
  max-width: 315px;
  margin-bottom: 52px;

  .option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1;
    background: #222;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .selected {
    border: 2px solid var.$color-primary;
  }
}

.continueButton {
  justify-content: center;
  align-items: center;
  margin: auto 0 30px;
  width: calc(100% - 32px);
  max-width: 315px;
  padding: 10px;
  color: var.$color-white;
  border-radius: 8px;
  border: 1px solid var.$color-border-primary;
  background: var.$color-blue-primary;
  cursor: pointer;
}

.selectText {
  color: var.$color-text-super-transparent;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 60px;
  line-height: 100%;
  letter-spacing: -0.8px;
}
