@use '../../../src/assets/styles' as var;

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: var.$color-bg;

  .wardrobe {
    width: 260px;
    margin-top: 57px;
    margin-bottom: 20px;
  }

  .buttons {
    margin: 0 30px 20px 30px;
  }
}
.avatarSection {
  max-width: 260px;
  width: 100%;
  padding-top: 40px;

  .avatarPreview {
    width: 280px;
    height: 280px;
    margin: 32px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 2px solid var.$color-dark-gray-stroke;
    background: var.$footer-bg;

    svg {
      width: 48px;
      height: 48px;
      color: var.$color-white;
    }
  }
}

.continueButton {
  justify-content: center;
  align-items: center;
  margin: auto 0 30px;
  width: calc(100% - 32px);
  max-width: 315px;
  padding: 10px;
  color: var.$color-white;
  border-radius: 8px;
  border: 1px solid var.$color-border-primary;
  background: var.$color-blue-primary;
  cursor: pointer;
}

.selectText {
  color: var.$color-text-super-transparent;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 60px;
  line-height: 100%;
  letter-spacing: -0.8px;
}
