@use '../../../assets/styles' as var;

.personCards {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;

  h2 {
    text-align: center;
    color: var.$color-text-semi-transparent;
    font-size: 14px;
    font-weight: 600;
  }

  .vipTitle {
    background-image: var.$gradient;
    color: transparent;
    background-clip: text;
    align-self: center;
  }
}