@use '../../../assets/styles' as var;

.overlay {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: rgba(0, 0, 0, 0.85);
  height: 100svh;
  overflow-y: auto;
}

.modal {
  max-height: 90svh;
  background-color: var.$color-bg;
  border: 1px solid var.$color-dark-gray;
  border-bottom: none;
  border-radius: 12px 12px 0 0;
  width: 100%;
  overflow-y: auto;
  @include var.hide-scroll;
  transition: height 0.5s ease-in-out;
}

.disabled {
  opacity: 0.7;
  pointer-events: none;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  margin-bottom: 5px;
  padding: 5px 12px 10px;

  & > img {
    width: 14px;
    height: 14px;

    @media (min-width: var.$breakpoint-md) {
      width: 16px;
      height: 16px;
    }
  }
}

.titleWrapper {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  gap: 5px;

  color: var.$color-text;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;

  margin: 0;

  @media (min-width: var.$breakpoint-md) {
    font-size: 16px;
  }
}

.closeBtn {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
}

.closeIcon {
  @include var.transition(color);
  color: #3c3937;

  background-color: transparent;
  border: none;

  fill: currentcolor;

  &:hover {
    color: var.$color-black;
  }
}

.content {
  padding: 10px 15px 40px 15px;
}