@use '../../../assets/styles' as var;

.overlay {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.85);
  height: 100vh;
  overflow-y: auto;
}

.modal {
  background-color: var.$color-bg;
  border: 1px solid var.$color-dark-gray;
  border-bottom: none;
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: 50vh; /* Start at half height */
  overflow-y: auto;
  transition: all 0.3s ease;
  animation: slideUp 0.3s forwards;
  
  &.expanded {
    height: 85vh;
  }
  
  &.closing {
    animation: slideDown 0.3s forwards;
  }
}

@keyframes slideDown {
  from { transform: translateY(0); }
  to { transform: translateY(100%); }
}

@keyframes slideUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

.disabled {
  opacity: 0.7;
  pointer-events: none;
}

.dragHandle {
  cursor: grab;
  width: 100%;
  user-select: none;
  touch-action: none;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  padding: 12px;
  background-color: var.$color-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gripIcon {
  width: 26px;
  height: 3px;
  margin-bottom: 10px;
}

.titleWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  color: var.$color-text;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.closeBtn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.content {
  padding: 16px;
  overflow-y: auto;
}