@use "../../../assets/styles/index.scss" as var;

.wrp {
  width: 100%;
  min-height: 191px;
  display: flex;
  flex-direction: column;
  background-color: #1c1d22;
  border-radius: 10px;
  gap: 24px;
  padding: 10px;

  .usernameAndComment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: auto;

    .username {
      font-size: 16px;
      font-weight: 500;
      margin: 0;
      color: var.$color-blue-primary;
    }

    .negativeCommentText {
      font-size: 16px;
      font-weight: 500;
      margin: 0;
      color: var.$color-red;
      text-wrap: wrap;
    }

    .positiveCommentText {
      font-size: 16px;
      font-weight: 500;
      margin: 0;
      text-wrap: wrap;
      color: var.$color-green;
    }
  }

  .progressWrp {
    .amountAndRewardWrp {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .amount {
        font-size: 16px;
        font-weight: 500;
        color: var.$color-text-semi-transparent;
        margin: 0;
      }

      .rewardWrp {
        display: flex;
        align-items: center;
        gap: 5px;

        .reward {
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          margin: 0;
        }
      }
    }
  }

  .thumbs {
    display: flex;
    gap: 10px;

    .thumbsUp {
      height: 40px;
      width: 40px;
      border-radius: 10px;
      background-color: var.$color-green;

      border: none;
      background-image: url("../../../assets/icons/thumbs-up.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-size: 50%;

      &:disabled {
        background-image: url("../../../assets/icons/thumbs-up-gray.svg") !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: contain !important;
        background-size: 50% !important;
      }
    }

    .thumbsDown {
      height: 40px;
      width: 40px;
      border-radius: 10px;
      background-color: var.$color-red;

      border: none;
      background-image: url("../../../assets/icons/thumbs-down.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-size: 50%;

      &:disabled {
        background-image: url("../../../assets/icons/thumbs-down-gray.svg") !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: contain !important;
        background-size: 50% !important;
      }
    }
  }

  .noComment {
    width: 100%;
    max-width: 250px;
    white-space: wrap;
    font-size: 16px;
    color: var.$color-gray;
    margin-bottom: auto;
  }
}

.elevated {
  position: fixed;
  width: 92vw;
  z-index: 15000;
  border: 2px solid var.$color-primary;
  box-shadow: 0px 0px 50px var.$color-blue-primary;
}
