@use '../../../assets/styles/index.scss' as var;


.IntegrationStatsWrp {
    display: flex;
    width: 100%;
    gap: 5px;
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .IntegrationStat {
        display: flex;
        padding: 5px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 53px;
        background-color: #1C1D22;
        border-radius: 12px;
        gap: 5px;
        flex: 1;

        .typeWrp {
            display: flex;
            align-items: center;
            gap: 2px;

            .type {
                font-size: 12px;
                margin: 0;
                font-weight: 500;
                color: var.$color-text-semi-transparent;
            }
        }

        .amount {
            font-size: 16px;
            font-weight: 500;
            color: white;
            white-space: nowrap;
            width: 100%;
            text-align: center;
            margin: 0;
        }
    }
}

.elevated {
    z-index: 10000;
    border: 2px solid var.$color-primary;
}