@use "../../assets/styles/abstracts/" as var;

.techWorkContainer {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: transparent;
    overflow: hidden;

    .mainContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 300px;

        .lottiePlayer {
            aspect-ratio: 1 / 1;
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
    }

    .text {
        position: absolute;
        bottom: 100px;
        left: 0;
        width: 100%;
        padding: 0 30px;
        
        .primaryText {
            color: #AFB9D4;
            text-align: center;
            font-family: var.$font-default;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            margin-bottom: 16px;
            letter-spacing: -0.8px;
            
        }

        .secondaryText {
            color: #373A43;
            text-align: center;
            font-family: var.$font-default;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: -0.6px;
        }
    }
}
