@use '../../../../assets/styles/index.scss' as var;

.nextBtn {
    width: 100%;
    background-color: var.$color-gray;
    color: white;
    height: 44px;
    padding: 10px 0;
    border: 1px solid var.$color-dark-gray;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 20px;
}

.gifImageLeft {
    position: absolute;
    top: 50%;
    left: 75%;
}

.gifImageRight {
    position: absolute;
    top: 60%;
    left: -17%;
    transform: scaleX(-1);
}