@use '../../assets/styles/index.scss' as var;

.wrp {
  display: flex;
  flex-direction: column;
  margin: 70px 0 20px;
  background-color: var.$color-bg;
  color: var.$color-text;
  padding: 0 15px;
  gap: 10px;

  @media (min-width: var.$breakpoint-md) {
    gap: 24px;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .pageTitle {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;

    @media (min-width: var.$breakpoint-md) {
      font-size: 24px;
    }
  }

  .statsTitle {
    margin-left: 5px;
    color: var.$color-text-semi-transparent;
    font-size: 14px;
    margin-bottom: 10px;

    @media (min-width: var.$breakpoint-md) {
      font-size: 16px;
    }
  }

  .achivements {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    background-color: var.$color-card-bg;
    padding: 10px;
    border-radius: 12px;


    .rewardImage {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      aspect-ratio: 1;
      background-color: var.$color-gray;
      border-radius: 6px;


      .image {
        aspect-ratio: 1;
        width: 56px;
      }

      .medal {
        width: 20px;
        height: 20px;
        position: absolute;
        top: -2px;
        right: -2px;
      }
    }
  }
}
