@use '../../../assets/styles/index.scss' as var;

.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: 12px;

  background-color: var.$color-card-bg;
  color: var.$color-text;

  .header {
    display: flex;
    align-items: start;
    gap: 15px;

    .icon {
      aspect-ratio: 1 / 1;
      width: 40px;
      background-color: var.$color-badge-bg;
    }

    .info {
      display: flex;
      width: 255px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      align-self: stretch;

      .title {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;
      }

      .description {
        margin: 0;
        color: var.$color-text-semi-transparent;
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
      }
    }
  }

  .rewards {
    display: flex;
    gap: 15px;
  }

  .reward {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;

    img {
      margin-left: 2px;
    }
  }

  .progressTypeSection {
    display: flex;
    align-items: center;
    gap: 20px;

    .progressTypeSteps {
      padding: 5px 10px;
      display: flex;
      gap: 15px;
      height: 28px;
      border-radius: 5px;
      background-color: var.$color-gray;
    }

    .progressTypeReward {
      display: flex;
      gap: 15px;
    }
  }

  .progressBarSection {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .progressBarSectionHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var.$color-text-semi-transparent;
      font-size: 12px;
      font-weight: 500;
      line-height: 100%;

      .progressReward {
        display: flex;
        gap: 5px;
      }
    }

    .progressBar {
      height: 16px;
      border-radius: 3px;
      background-color: var.$color-gray;
      overflow: hidden;

      .progressBarInner {
        height: 100%;
        background-color: var.$color-purple;
      }
    }
  }

  .buttons {
    display: flex;
    gap: 10px;

    .button {
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      color: var.$color-text;

      font-size: 14px;
      font-weight: 500;
    }

    .primary {
      border: 1px solid var.$color-border-primary;
      background-color: var.$color-primary;
    }

    .secondary {
      border: 1px solid var.$color-border-secondary;
      background-color: var.$color-secondary;
    }

    .loading {
      border: none;
      opacity: 0.8;
    }
  }
}