@use '../../../assets/styles' as var;

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;

  border-radius: 12px;

  background-color: var.$color-card-bg;
  color: var.$color-text;

  .header {
    display: flex;
    align-items: start;
    gap: 15px;

    .icon {
      aspect-ratio: 1 / 1;
      width: 40px;
      background-color: var.$color-badge-bg;
    }

    .info {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      align-self: stretch;

      .title {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;
      }

      .description {
        margin: 0;
        color: var.$color-text-semi-transparent;
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
        width: 100%;
        white-space: pre-wrap;
        word-break: break-word;
      }
    }
  }

  .rewards {
    display: flex;
    gap: 15px;
  }

  .reward {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;

    img {
      margin-left: 2px;
    }
  }

  .progressTypeSection {
    display: flex;
    align-items: center;
    gap: 20px;

    .progressTypeSteps {
      padding: 5px 10px;
      display: flex;
      gap: 15px;
      height: 28px;
      border-radius: 5px;
      background-color: var.$color-gray;
    }

    .progressTypeReward {
      display: flex;
      gap: 15px;
    }
  }

  .buttons {
    display: flex;
    gap: 10px;
    position: relative;
    z-index: 1;

    .button {
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      color: var.$color-text;

      font-size: 14px;
      font-weight: 500;
    }

    .primary {
      border: 1px solid var.$color-border-primary;
      background-color: var.$color-primary;
    }

    .secondary {
      border: 1px solid var.$color-border-secondary;
      background-color: var.$color-secondary;
    }

    .loading {
      border: none;
      opacity: 0.8;
    }
  }

  &.completed {
    border-radius: 12px;
    border: 2px solid #9747FF;
    background: var(--, #1C1D22);
    box-shadow: 0px 0px 16px 0px rgba(151, 71, 255, 0.50);

    &.dailyTask, &.socialTask {
      border: 2px solid #2F80ED;
      box-shadow: 0px 0px 16px 0px rgba(47, 128, 237, 0.50);

      &::before {
        content: '';
        position: absolute;
        left: -1px;
        bottom: -46px;
        width: 147px;
        height: 147px;
        background-image: url('../../../assets/icons/bg-light-blue.svg');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 0;
        opacity: 0.8;
        pointer-events: none;
        animation: rotate 4s linear 1;
      }
    }
  }

  &.completed.topTask {
    &::before {
      content: '';
      position: absolute;
      left: -1px;
      bottom: -46px;
      width: 147px;
      height: 147px;
      background-image: url('../../../assets/icons/bg-light-purple.svg');
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 0;
      opacity: 0.8;
      pointer-events: none;
      animation: rotate 4s linear 1;
    }
  }
}

.errorText {
  color: #FF5454;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}