@use '../../../assets/styles/abstracts/colors' as var;
@use 'sass:color';
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.fire {
  width: 100%;
}
.desc {
  color: var.$color-text-super-transparent;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.progressTitle {
  .chest {
    display: flex;
    gap: 5px;
  }
}
.progressInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  p {
    color: var.$color-text-semi-transparent;
    font-size: 12px;
    font-weight: 500;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

.progress {
  height: 18px;
  border-radius: 4px;
  background: var.$color-gray;
  border: 1px solid var.$color-dark-gray-stroke;
}

.text {
  text-align: center;
  color: var.$color-text-semi-transparent;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-top: 15px;
  margin-bottom: 30px;
}
