// ProgressBar.module.scss
@use '../../../assets/styles' as var;

.progressBarSection {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @media (min-width: var.$breakpoint-md) {
    gap: 6px;
  }

  .progressBarSectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var.$color-text-semi-transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;

    .progressReward {
      display: flex;
      align-items: center;
      gap: 5px;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }

  .progressBar {
    height: 20px;
    border-radius: 3px;
    background-color: var.$color-gray;
    overflow: hidden;

    .progressBarInner {
      height: 100%;
      background-color: var.$color-purple;
    }
  }
}