@use '../../../../../assets/styles/index.scss' as var;

.calendarDay {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  background-color: var.$footer-bg;

  @media (min-width: var.$breakpoint-md) {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  &.streak {
    border: 2px solid var.$color-red;
  }

  &.red {
    border: 2px solid var.$color-red;
  }

  &.blue {
    border: 2px solid var.$color-primary;
  }

  &.purple {
    border: 2px solid var.$color-purple;
  }

  .status-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -8.5px;
    border: 0.5px solid var.$color-dark-amethyst;

    &.iconRed {
      background-color: var.$color-red;
    }

    &.iconBlue {
      background-color: var.$color-primary;
    }

    &.iconPurple {
      background-color: var.$color-purple;
    }

    img {
      padding: 1px;
    }
  }
}

.dayOfTheWeek {
  font-size: 10px;
  font-weight: 500;
  color: var.$color-gray;
  width: 100%;
  text-align: center;
  margin: 4px 0 0;

  @media (min-width: var.$breakpoint-md) {
    font-size: 12px;
  }
}

.currentDay {
  position: relative;
}

.currentDay::after {
  content: '';
  position: absolute;
  top: 21px;
  left: 50%;
  width: 4px;
  height: 4px;
  background-color: var.$color-white;
  border-radius: 50%;
  transform: translateX(-50%);
}

.dayOfTheWeekActive {
  color: var.$color-white;
}
