@use 'sass:color';
@use '/src/assets/styles' as *;

.tabNav {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  padding: 3px;
  background: $secondary-bg;
  border-radius: 30px;

  .tabItem {
    color: $half-transparent-text;
    font-weight: 500;
    padding: 5px 18px;
    border-radius: 30px;
    background: none;
    border: none;
  }

  .tabItemSelectedWhite {
    @extend .tabItem;
    color: $color-black;
    background-color: $grayed-white;
  }

  .tabItemSelectedBlue {
    @extend .tabItem;

    color: $color-white;
    background-color: $accent-blue;
  }
  .tabItemSelectedPurple {
    @extend .tabItem;

    color: $color-white;
    background-color: $purple;
  }
  .tabItemSelectedRed {
    @extend .tabItem;

    color: $color-white;
    background-color: red;
  }
}
