@use '../../../assets/styles/index.scss' as var;

.integrationsControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: fixed;
  right: 15px;
  bottom: 40px; // 90px - footer height, 15px - padding from footer
  left: 15px;
  z-index: 1000;
  touch-action: none; /* Prevents all touch actions */
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none;
  -webkit-touch-callout: none; /* Prevents iOS callout */

  .button {
    display: flex;
    position: relative;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: var.$color-text;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid var.$color-border-primary;
    background-color: var.$color-primary;
    transition: box-shadow 0.3s ease-in-out;
    outline: none;
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &.glowing {
      position: relative;
      box-shadow: 0px 0px 35px 5px rgba(47, 115, 189, 0.9);
      transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
      
    
      &::after {
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        border-radius: inherit;
        background: rgba(47, 115, 189, 0.5);
        filter: blur(20px);
        z-index: -1;
        animation: glowPulse 1.5s infinite alternate ease-in-out;
      }
    }
    
    @keyframes glowPulse {
      from {
        opacity: 0.8;
        transform: scale(1);
      }
      to {
        opacity: 1;
        transform: scale(1.1);
      }
    }
    
    .buttonBadge {
      position: absolute;
      top: -25%;
      display: flex;
      padding: 2px 4px;
      justify-content: center;
      align-items: center;
      gap: 2px;
      border-radius: 4px;
      border: 1px solid var.$color-dark-gray;
      background-color: var.$color-badge-button-bg;
      color: var.$color-dark-gray;
      font-size: 12px;
      font-weight: 500;
      line-height: 100%;
    }
  }
}

.elevated {
  z-index: 19000;
}