@use '../../../assets/styles/index.scss' as var;

.integrationsControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: absolute;
  right: 15px;
  bottom: 80px;
  left: 15px;
  padding-bottom: 15px;

  .button {
    display: flex;
    position: relative;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: var.$color-text;

    font-size: 14px;
    font-weight: 500;

    border: 1px solid var.$color-border-primary;
    background-color: var.$color-primary;

    .buttonBadge {
      position: absolute;
      top: -25%;
      display: flex;
      padding: 2px 4px;
      justify-content: center;
      align-items: center;
      gap: 2px;
      border-radius: 4px;
      border: 1px solid var.$color-dark-gray;
      background-color: var.$color-badge-button-bg;
      color: var.$color-dark-gray;
      font-size: 12px;
      font-weight: 500;
      line-height: 100%;
    }
  }

  .integration {
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var.$color-dark-gray;
    background-color: var.$color-card-bg;

    .integrationHeader {
      display: flex;
      justify-content: space-between;

      .title {
        margin: 0;
        color: var.$color-text-semi-transparent;
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
      }

      .author {
        display: flex;
        align-items: center;
        gap: 5px;
        color: var.$color-text;
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
      }
    }

    .body {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 10px;

      .info {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .infoHeader {
          display: flex;
          justify-content: space-between;
          color: var.$color-text-super-transparent;
          font-size: 12px;
          font-weight: 500;
          line-height: 100%;
        }

        .progressBar {
          height: 16px;
          border-radius: 3px;
          background-color: var.$color-gray;
          overflow: hidden;

          .progressBarInner {
            height: 100%;
            background-color: var.$color-primary;
          }
        }
      }

      .iconButton {
        aspect-ratio: 1 / 1;
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: var.$color-primary;
        border: none;
      }
    }
  }

}