@use '../../../assets/styles/index.scss' as var;

.integrationsControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  //position: absolute;
  //right: 15px;
  //bottom: calc(60px + 80px + 15px); // 60px - header height, 80px - footer height, 15px - padding from footer
  //left: 15px;

  .button {
    display: flex;
    position: relative;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: var.$color-text;

    font-size: 14px;
    font-weight: 500;

    border: 1px solid var.$color-border-primary;
    background-color: var.$color-primary;

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    .buttonBadge {
      position: absolute;
      top: -25%;
      display: flex;
      padding: 2px 4px;
      justify-content: center;
      align-items: center;
      gap: 2px;
      border-radius: 4px;
      border: 1px solid var.$color-dark-gray;
      background-color: var.$color-badge-button-bg;
      color: var.$color-dark-gray;
      font-size: 12px;
      font-weight: 500;
      line-height: 100%;
    }
  }
}