@use '../../../assets/styles/index.scss' as var;

.integrationsControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: fixed;
  right: 15px;
  bottom: 15px; // 90px - footer height, 15px - padding from footer
  left: 15px;
  z-index: 1000;
  touch-action: none; /* Prevents all touch actions */
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none;
  -webkit-touch-callout: none; /* Prevents iOS callout */

  .button {
    display: flex;
    position: relative;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: var.$color-text;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid var.$color-border-primary;
    background-color: var.$color-primary;
    transition: box-shadow 0.3s ease-in-out;
    outline: none;
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &.glowing {
      box-shadow: 0 0 10px 4px rgba(72, 128, 255, 0.6);
    }

    .buttonBadge {
      position: absolute;
      top: -25%;
      display: flex;
      padding: 2px 4px;
      justify-content: center;
      align-items: center;
      gap: 2px;
      border-radius: 4px;
      border: 1px solid var.$color-dark-gray;
      background-color: var.$color-badge-button-bg;
      color: var.$color-dark-gray;
      font-size: 12px;
      font-weight: 500;
      line-height: 100%;
    }
  }
}