@use '../../../assets/styles/index.scss' as var;

.integration {
    width: 100%;
    height: 155px;
    background-color: var.$footer-bg;
    border: 1px solid var.$color-dark-gray-stroke;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}