@use '../../../assets/styles/index.scss' as var;

.integration {
    width: 100%;
    height: 155px;
    border: 1px solid var.$color-dark-gray-stroke;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .compaign{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 70px;
    }
}