@use '../../../assets/styles/index.scss' as var;

.integration {
    width: 100%;
    min-height: 195px;
    align-self: center;
    background-color: var.$footer-bg;
    border: 1px solid var.$color-dark-gray-stroke;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}