@use '../../../assets/styles' as var;

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.inputGroup {
  position: relative;
  width: 100%;

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    color: var.$color-text-semi-transparent;
  }

  .input {
    width: 100%;
    padding: 6px 40px 6px 8px;
    height: 36px;
    border: 1px solid var.$color-dark-gray-stroke;
    border-radius: 8px;
    background: transparent;
    color: white;
    font-size: 14px;

    &:focus {
      border-color: var.$color-text-super-transparent;
    }
  }

  .inputWrapper {
    display: flex;
    align-items: center;
    position: relative;
  }

  .statusIcon {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-color: var.$color-dark-gray;
    padding: 5px;
    border-radius: 6px;
  }

  
}

.errorMessage {
  width: 100%;
  color: var.$color-red;
  font-size: 14px;
}