@use '../../../assets/styles/abstracts/colors' as var;
@use 'sass:color';

.images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .light {
    position: absolute;
    width: 70%;
  }
  .fire {
    position: relative;
    width: 30%;
  }
  .days {
    padding: 4px 8px;
    border-radius: 999px;
    backdrop-filter: blur(15px);
    background: color.scale(var.$color-dark-gray-stroke, $alpha: -20%);
    position: absolute;
    p {
      font-size: 24px;
      font-weight: 500;
      color: var.$color-white;
      line-height: 24px;
    }
  }
}

.days {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  position: relative;
  .dayWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    .day {
      border: 2px solid var.$color-blue-primary;
      border-radius: 999px;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var.$footer-bg;

      p {
        font-weight: 500;
        color: var.$color-white;
      }
    }
    .dayRed {
      border: 2px solid var.$color-red;
    }
    .dayBlue {
      border: 2px solid var.$color-frozen-blue;
    }
    .dayPurple {
      border: 2px solid var.$color-purple;
    }
    .dayNormal {
      border: 2px solid var.$footer-bg;
    }
  }
  .weekday {
    font-weight: 500;
    font-size: 10px;
    color: var.$color-gray;
  }

  .icon {
    border: 0.5 solid #3a374d;
    background: var.$color-blue-primary;
    z-index: 111;
    border-radius: 999px;
    padding: 1px;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
  }

  .iconRed {
    background: var.$color-red;
  }
  .iconPurple {
    background: var.$color-purple;
  }
}

.progressTitle {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 5px;

  p {
    color: var.$color-text-semi-transparent;
    font-size: 12px;
    font-weight: 500;
  }
  .chest {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .chest img {
    width: 30px;
  }
}

.progress {
  margin-bottom: 30px;
}

.currentDay {
  position: relative;
}

.currentDay::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 50%;
  width: 4px;
  height: 4px;
  background-color: var.$color-white;
  border-radius: 50%;
  transform: translateX(-50%);
}
