@use "../../../assets/styles/abstracts" as var;

// Variables for colors
$border-default: #282830;
$border-selected: #2F80ED;
$text-default: #FFF;
$text-selected: #2F80ED;
$background-icon: #373A43;

.titleStyles {
    display: flex;
    padding: 10px 12px 10px 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    align-self: stretch;
}

.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.languageSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.languageWrapper {
    display: flex;
    padding: 6px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid $border-default;
    cursor: pointer;
    transition: all 0.2s ease;


    &.selected {
        border-color: $border-selected;
    }
}



.languageAndIcon {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    color: $text-default;
    text-align: center;
    font-family: var.$font-default;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease;

    &.selectedText {
        color: $text-selected;
    }
}

.countryIconWrapper {
    display: flex;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 6px;
    background: $background-icon;
}

.countryIcon {
    height: 18px;
    width: 18px;
}

.applyButton {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #2064C0;
    background: #2F80ED;
    color: #FFF;
    text-align: center;
    font-family: var.$font-default;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.selectionIconWrapper {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #282830;

    .selectionIcon {
        width: 14px;
        height: 14px;
    }
}   