@use '../../../assets/styles/abstracts/colors' as var;
@use 'sass:color';
.images {
  pointer-events: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.chest {
  pointer-events: none;
  width: 30%;
  position: relative;
  opacity: 1 !important;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.items {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-top: 20px;
}
.item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var.$color-white;
}
.item img {
  width: 14px;
}
.itemIcon {
  color: var.$color-dark-gray-stroke;
  background-color: var.$color-blue-primary;
  border-radius: 4px;
  padding: 5px 3px;
}
.desc p {
  color: var.$color-text-semi-transparent;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-top: 20px;
  margin-bottom: 30px;
}

.background {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reward {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button{
  position: relative;
  z-index: 1000;
}
