@use '../../assets/styles/index' as var;

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;

  background-color: var.$color-bg;
  color: var.$color-text;

  opacity: 0;
  transform: translateY(10px); /* Start slightly lower */
  animation: fadeIn 0.5s ease-out forwards 0.3s;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
