@use '../../assets/styles/index' as var;

.page {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: var.$color-bg;
  color: var.$color-text;
}
