.vhsEffect::before {
  animation: grain 6s steps(10) infinite;
  background-image: url('https://grainy-gradients.vercel.app/noise.svg');
  content: '';
  height: 300%;
  width: 300%;
  left: -100%;
  top: -110%;
  position: absolute;
  z-index: 100;
  filter: brightness(0.2);
  pointer-events: none;
}

.vhsEffect {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  filter: saturate(2) brightness(1.2);
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(5%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(5%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}