@use '../assets/styles/index.scss' as var;

.page {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: var.$color-bg;
  color: var.$color-text;
}