@use '../../../assets/styles/abstracts/' as var;

.headerStyles {
    color: var.$color-white;
    text-align: center;
    font-family: var.$font-default;
    font-size: 16px;
    font-weight: 500;
}

.wrapper {
    display: flex;
    padding: 0px 12px 12px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    z-index: 0;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    align-self: stretch;
}

.imageAndAnimation {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 60px;
    .image {
        width: 120px;
        height: 120px;
        position: absolute;
        z-index: 1;
    }

    .light {
        position: absolute;
        width: 300px;
        height: 300px;
    }
}

.starsWrapper {
    display: flex;
    padding: 2px 3px;
    gap: 5px;
    border-radius: 4px;
    background: #282830;
    margin-top: 50px;

    .medalIcon {
        width: 18px;
        height: 18px;
    }

    .starIcon {
        width: 18px;
        height: 18px;
    }
}


.text {
    align-self: stretch;
    color: #AFB9D4;
    text-align: center;
    font-family: var.$font-default;
    font-size: 14px;
    font-weight: 500;
}

.button {
    display: flex;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #2064C0;
    background: #2F80ED;

    color: var.$color-white;
    text-align: center;
    font-family: var.$font-default;
    font-size: 16px;
    font-weight: 500;
}