@use '../../assets/styles/abstracts/colors' as *;

.emptyText{
  color: $color-gray;
  text-wrap:unset;
  font-weight: 500;
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
}

.itemsLoader {
  margin-top: 40px;
}