$translateY: -15vh;

.item {
  position: absolute;
  left: 50%;
}
.room {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.wallsWrapper {
  display: flex;
  aspect-ratio: 402/885;
  width: 100%;

  .wallLeft {
    flex: 358;
    overflow: hidden;
    height: 1000px;
    position: relative;

    img {
      &:first-child {
        object-fit: cover;
        object-position: bottom;
        position: absolute;
        right: 0;
        width: 200%;
      }

      &.skewed {
        transform: skew(-30deg) translateX(10%);
        rotate: -28deg;
        top: 26px;
      }

      &.greenWallDown {
        position: absolute;
        right: 10px;
        top: 372px;
        transform: skew(-30deg) translateX(10%);
        rotate: -28deg;
      }
    }
  }
  .wallRight {
    flex: 345;
    overflow: hidden;
    background: #96a1bc;
    position: relative;
    filter: saturate(180%) brightness(80%);

    img {
      &:first-child {
        object-fit: cover;
        object-position: bottom;
        position: absolute;
        width: 213%;
        left: 0;
      }

      &.skewed {
        transform: skew(30deg) translateX(-10%);
        rotate: 32deg;
        top: 34px;
      }
      &.greenWallDown {
        position: absolute;
        left: 0px;
        top: 384px;
        transform: skew(30deg) translate(-10%);
        rotate: 32deg;
      }
    }
  }
}

.floorWrapper {
  @extend .item;
  transform: translateX(-58.15%);
  top: 310px;
  background: 'red';
}

.floor {
  background: #6e717a;
  rotate: 32deg;
  width: 800px;
  height: 800px;
  z-index: 2;
  transform: skew(-30deg);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    scale: 1.2;
  }

  .repairSkew {
    position: absolute;
    top: 0;
    transform: skew(5.5deg) scaleY(1.5) translate(100px, -300px);
    scale: 0.5;
    rotate: -45deg;
  }
}

.floorTexture {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  img {
    width: 10%;
    height: 10%;
    transform: skew(0deg) rotate(0);
  }
}

.treshinaLeft {
  @extend .item;
  top: 29px;
  transform: translateX(-150%);
}
.treshinaRight {
  @extend .item;
  top: 0;
  transform: translateX(100%);
}
.shelf {
  @extend .item;
  width: 145px;
  height: 78px;
  top: 190px;
  transform: translateX(-12%);
}
