$translateY: -15vh;

.item {
  position: absolute;
  left: 50%;
}
.room {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 100;
}

.wallsWrapper {
  display: flex;
  aspect-ratio: 402/885;
  width: 100%;

  .wallLeft {
    flex: 358;
    overflow: hidden;
    height: 1000px;
    position: relative;
    z-index: 3;

    img {
      &:first-child {
        object-fit: cover;
        object-position: bottom;
        position: absolute;
        right: 0;
        height: 450px;
      }

      &.skewed {
        transform: skew(333.5deg) translateX(9%);
        rotate: 333.5deg;
        top: -29px;
      }

      &.greenWallDown {
        position: absolute;
        right: 10px;
        top: 372px;
        transform: skew(-30deg) translateX(10%);
        rotate: -28deg;
      }
    }
  }
  .wallRight {
    flex: 345;
    overflow: hidden;
    position: relative;
    z-index: 3;
    filter: saturate(180%) brightness(80%);

    img {
      &:first-child {
        object-fit: cover;
        object-position: bottom;
        position: absolute;
        height: 450px;
        left: 0;
      }

      &.skewed {
        transform: skew(26.5deg) translateX(-10%);
        rotate: 26.5deg;
        top: -29px;
      }
      &.greenWallDown {
        position: absolute;
        left: 0px;
        top: 384px;
        transform: skew(30deg) translate(-10%);
        rotate: 32deg;
      }
    }
  }
}

.floorWrapper {
  @extend .item;
  transform: translateX(-50%);
  top: 321px;
  width: 800px;
  height: 800px;
  background-size: 33.3333333333333333% !important;
  background-position: center !important;
  background-repeat: round !important;

}

.floor {
  background: black;
  width: 700px;
  height: 800px;
  margin: 0 auto;
  z-index: 2;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center   
  }
}

.treshinaLeft {
  @extend .item;
  top: 79px;
  transform: translateX(-150%);
}
.treshinaRight {
  @extend .item;
  top: 0;
  transform: translateX(100%);
}
.shelf {
  @extend .item;
  z-index: 4;
  width: 145px;
  height: 278px;
  top: 140px;
  transform: translateX(-12%);
}

.reward {
  @extend .item;
  display: block;
  top: 225px;
  transform: scaleX(-1) translateX(-130%);
  z-index: 1000;
  width: 80px;
  height: 80px;
}

.coin {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  transform: translateX(-20px);
  z-index: 10000000;
  animation: coin 1.15s forwards ease-in-out;
}

.loader {
  position: absolute;
  z-index: 1000001;

  &.upper {
    top: -50px;
  }
}

@keyframes coin {
  0% {
    opacity: 0;
    top: 450px;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    top: 400px;
  }

  100% {
    opacity: 0;
    top: 400px;
  }
}
