$translateY: -15vh;

.item {
  position: absolute;
  left: 50%;
}

.room {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.wallsWrapper {
  display: flex;
  aspect-ratio: 402/885;
  width: 100%;

  .wallLeft {
    background: #bac2d3;
    flex: 358;
  }
  .wallRight {
    flex: 345;
    background: #96a1bc;
    filter: saturate(180%) brightness(80%);
  }
}

.floorWrapper {
  @extend .item;
  transform: translateX(-58.15%);
  top: 310px;
  background: 'red';
}

.floor {
  background: #6e717a;
  rotate: 32deg;
  width: 800px;
  height: 800px;
  z-index: 2;
  transform: skew(-30deg);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    scale: 1.2;
  }

  .repairSkew {
    position: absolute;
    top: 0;
    transform: skew(5.5deg) scaleY(1.5) translate(100px, -300px);
    scale: 0.5;
    rotate: -45deg;
  }
}

.floorTexture {
  background: #000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  img {
    width: 10%;
    height: 10%;
    transform: skew(0deg) rotate(0);
  }
}

.treshinaLeft {
  @extend .item;
  top: 29px;
  transform: translateX(-150%);
}
.treshinaRight {
  @extend .item;
  top: 0;
  transform: translateX(100%);
}
.shelf {
  @extend .item;
  width: 145px;
  height: 78px;
  top: 190px;
  transform: translateX(-12%);
}
