@use '../../assets/styles/abstracts' as var;

@mixin number-text {
  margin: 0;
  color: var.$color-white;
  font-family: var.$font-default;
  font-weight: 600;
  letter-spacing: 0.5px;
}

$color-header-dark: #1c1d22;
$color-header-border-dark: #282830;
$color-header-content-dark: #212129;
$progress-bar-color: #2f80ed;
$mobile-device-safe-are-inset-top: env(safe-area-inset-top);
$header-border: 1px solid $color-header-border-dark;

.header {
  position: fixed;
  inset: 0 0 auto 0;
  border-top: 85px solid var.$color-bg;
  z-index: 20;
  //padding: 0px 10px 0;
  //padding: calc(var(--tg-content-safe-area-inset-top) + 60px) 10px 0;
  margin-top: calc(var(--tg-content-safe-area-inset-top) + -130px);
  //margin: 0;

  // Prevent user from scrolling while interacting with header
  touch-action: none; /* Prevents all touch actions */
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none;
  -webkit-touch-callout: none; /* Prevents iOS callout */

  // Paddings for each platform
  &.ios {
    //padding: calc(var(--tg-content-safe-area-inset-top) + 60px) 10px 0;
    top: calc(var(--tg-content-safe-area-inset-top) + var(--tg-safe-area-inset-top) + 10px);
    left: calc(var(--tg-content-safe-area-inset-left) + 10px);
    right: calc(var(--tg-content-safe-area-inset-right) + 10px);
  }

  &.android {
    //padding: calc(var(--tg-content-safe-area-inset-top) + 30px) 10px 0;
    top: calc(var(--tg-content-safe-area-inset-top) + var(--tg-safe-area-inset-top) + 10px);
    left: calc(var(--tg-content-safe-area-inset-left) + 10px);
    right: calc(var(--tg-content-safe-area-inset-right) + 10px);
  }
}

.headerNot {
  border-top: 0;
  margin-top: calc(var(--tg-content-safe-area-inset-top) + -50px);
}

.lowerHeader {
  padding: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  border: $header-border;
  background: $color-header-dark;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);

  max-height: 50px;

  @media (min-width: var.$breakpoint-md) {
    padding: 6px;
    max-height: 64px;
  }
}

.levelWrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;

  .avatarWrapper {
    padding: 5px;
    border-radius: 8px;
    border: $header-border;
    background: $color-header-content-dark;
    position: relative;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @media (min-width: var.$breakpoint-md) {
      width: 52px;
      height: 52px;
    }

    .avatarIcon {
      width: 32px;
      height: 32px;
      position: absolute;
      bottom: 0;

      @media (min-width: var.$breakpoint-md) {
        width: 44px;
        height: 44px;
      }
    }

    .fireIcon {
      position: absolute;
      top: -7px;
      left: 50%;
      transform: translateX(-50%);
      height: 15px;
      width: 15px;

      @media (min-width: var.$breakpoint-md) {
        height: 18px;
        width: 18px;
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .subscribers {
      width: fit-content;
      display: flex;
      flex-direction: row;
      gap: 3px;
      align-items: center;
      border-radius: 8px;
      border: $header-border;
      background: $color-header-content-dark;

      padding: 4px 4px 4px 7px;

      .subscribersIcon {
        width: 18px;
        height: 18px;
      }

      @media (min-width: var.$breakpoint-md) {
        padding: 4px 6px 4px 8px;
        border-radius: 6px;
      }

      .subscribersNumber {
        @include number-text;
        font-size: 14px;
        line-height: 100%;

        @media (min-width: var.$breakpoint-md) {
          font-size: 18px;
        }
      }
    }

    .levelInfo {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;

      @media (min-width: var.$breakpoint-md) {
        gap: 6px
      }

      .levelNumber {
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1px 3px;

        color: var.$color-white;
        font-family: var.$font-default;
        font-size: 12px;
        font-weight: 500;

        border-radius: 3px;
        border: $header-border;
        background: $progress-bar-color;

        @media (min-width: var.$breakpoint-md) {
          height: 20px;
          padding: 2px 4px;
          border-radius: 4px;
          font-size: 16px;
          line-height: 100%;
        }
      }

      .levelProgressBar {
        width: 100px;
        height: 16px;
        border-radius: 3px;
        border: $header-border;
        background: $color-header-content-dark;

        @media (min-width: var.$breakpoint-md) {
          height: 20px;
        }

        &::-webkit-progress-bar {
          background: $color-header-content-dark;
          border-radius: 3px;
        }

        &::-webkit-progress-value {
          background: $progress-bar-color;
          border-radius: 2px;
        }

        &::-moz-progress-bar {
          background: $progress-bar-color;
          border-radius: 2px;
        }
      }
    }
  }
}

.coinsWrapper {
  display: flex;
  padding: 4px 4px 4px 7px;
  justify-content: center;
  align-items: center;
  gap: 3px;

  align-self: stretch;

  border-radius: 8px;
  border: $header-border;
  background: $color-header-content-dark;

  @media (min-width: var.$breakpoint-md) {
    padding: 4px 6px 4px 8px;
  }

  .coins {

    @include number-text;
    font-size: 14px;
    line-height: 100%;

    @media (min-width: var.$breakpoint-md) {
      font-size: 18px;
    }
  }

  .coinIcon {
    height: 18px;
    width: 18px;
  }
}
