@use '../../../../assets/styles/index.scss' as var;

.reward {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  border-radius: 8px;
  padding: 10px;
  gap: 10px;
  background-color: var.$footer-bg;
  color: #ffffff;
  transition: 0.3s;

  &.active {
    border: 2px solid var.$color-primary;
  }

  &.inactive {
    opacity: 0.6;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .rewardImage {
    display: grid;
    place-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: var.$color-gray;
    border-radius: 6px;

    @media (min-width: var.$breakpoint-md) {
      width: 50px;
      height: 50px;
    }

    .star {
      aspect-ratio: 1;
      width: 20px;
    }

    .medal {
      width: 16px;
      height: 16px;
      position: absolute;
      top: -2px;
      right: -2px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .name {
    font-size: 14px;

    @media (min-width: var.$breakpoint-md) {
      font-size: 16px;
    }
  }

  .stars {
    display: flex;
    gap: 4px;
  }

  .star {
    aspect-ratio: 1;
    width: 14px;

    @media (min-width: var.$breakpoint-md) {
      width: 16px;
    }
  }

  .status {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding: 5px;
    width: 70px;
    background-color: var.$color-dark-gray;
    border-radius: 6px;
  }

  .trophy {
    aspect-ratio: 1;
    width: 14px;

    @media (min-width: var.$breakpoint-md) {
      width: 16px;
    }
  }

  .activeText {
    color: #3f6efb;
    font-size: 10px;

    @media (min-width: var.$breakpoint-md) {
      font-size: 12px;
    }
  }

  .inactiveText {
    color: #777;
    font-size: 10px;
    white-space: nowrap;

    @media (min-width: var.$breakpoint-md) {
      font-size: 12px;
    }
  }
}