.progressBar {
  position: relative;
  width: 100%;
  height: 16px;
  background: #282830;
  border-radius: 4px;
  border: 0.5px solid #282830;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  background: #2f80ed;
  border-radius: 3px 0 0 3px;
  transition: width 0.3s ease-in-out;
  position: relative;
  background-image: url('src/assets/icons/mask-group.svg');
  background-size: auto 100%;
  background-repeat: repeat-x;
}
