@use '../../../assets/styles/index.scss' as var;

.headerIncrease {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  margin: 10px 0 0;

  @include var.multi-fz(14px, 16px);

  img {
    @include var.multi-size(14px, 16px);
  }
}

.piggy {
  @include var.multi-size(40px, 68px);
}

.listBadge {
  position: relative;
  display: flex;
}

.badge {
  display: flex;
  align-items: center;
  gap: 3px;
  border-radius: 10px;
  line-height: 100%;
  white-space: nowrap;
  @include var.multi-fz(14px, 16px);

  img {
    width: 16px;
    height: 16px;
  }
}

.textName {
  color: var.$color-text-semi-transparent;
}

.wrapperIncrease {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  background: var.$color-card-bg;
  padding: 10px;
  border-radius: 12px;

  @media (min-width: var.$breakpoint-md) {
    gap: 10px;
  }
}

.referralsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subscribers {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.contentFriends {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nameFriends {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 16px;
  letter-spacing: -0.05em;
}

.subscribers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.text {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: var.$color-white;
}

.level {
  font-size: 11px;
  transform: translateY(-3px);
  margin-left: 2px;
  color: var.$color-text-semi-transparent;

  @include var.multi-fz(10px, 12px);
}

.userCardRank,
.userCardRefs {
  color: var.$color-blue-primary;
}

.userCardRefs {
  background: none;
  border: none;
}

.buttonsContainer {
  display: flex;
  gap: 10px;

  @media (min-width: var.$breakpoint-md) {
    margin-top: 14px;
  }
}

.buttonContainer {
  padding: 10px;
  border-radius: 8px;
  background: var.$color-blue-primary;
  border: none;

  @include var.multi-fz(14px, 16px);

  @media (min-width: var.$breakpoint-md) {
    padding: 14px;
  }
}

.buttonContainerGray {
  padding: 10px;
  border-radius: 8px;
  background: var.$color-dark-gray;
  border: 1px solid var.$color-dark-gray-stroke;

  @include var.multi-fz(14px, 16px);

  @media (min-width: var.$breakpoint-md) {
    padding: 14px;
  }
}

.showMore {
  color: var.$color-text-super-transparent;
  margin-top: 5px;
}

.noReferrals {
  text-wrap: wrap;
  color: var.$color-text-super-transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
}
