@use "../../../assets/styles/index.scss" as var;

.glowing {
  box-shadow: 0 0 60px var.$color-primary;
  z-index: 10000;
  border: 2px solid var.$color-primary;
  border-radius: 16px;
}

.elevatedBordered {
  z-index: 200;
 
}

.elevated {
  z-index: 200;
}

.wrp {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &.justifyCenter {
    justify-content: center;
    margin-top: 20px;
  }

  .toCenterStats {
    width: 40px;
    height: 40px;
  }

  .statsWrp {
    max-width: 150px;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;

    .statWrp {
      height: fit-content;
      border-radius: 30px;
      background-color: var.$color-badge-bg;
      display: flex;
      padding: 4px 4px 4px 7px;
      gap: 2px;
      justify-content: center;
      align-items: center;

      .stat {
        margin: 0;
        padding: 0;
        font-weight: 500;
        font-size: 14px;

        @media (min-width: var.$breakpoint-md) {
          font-size: 16px;
        }
      }

      img {
        width: 18px;
        height: 18px;
      }
    }
  }

  .wardrobeButton {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-color: var.$color-primary;

    border: none;
    background-image: url("../../../assets/icons/wardrobe.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;

    @media (min-width: var.$breakpoint-md) {
      width: 44px;
      height: 44px;
    }
  }
}
