@use '../../../assets/styles/index.scss' as var;

.wrp {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &.justifyCenter {
    justify-content: center;
  }

  .toCenterStats {
    width: 40px;
    height: 40px;
  }

  .statsWrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    align-items: end;

    .statWrp {
      height: fit-content;
      border-radius: 10px;
      background-color: var.$color-badge-bg;
      display: flex;
      padding: 4px 4px 4px 7px;
      gap: 2px;
      justify-content: center;
      align-items: center;

      .stat {
        margin: 0;
        padding: 0;
        font-weight: 500;
        font-size: 14px;

        @media (min-width: var.$breakpoint-md) {
          font-size: 16px;
        }
      }

      img {
        width: 14px;
        height: 14px;

        @media (min-width: var.$breakpoint-md) {
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  .wardrobeButton {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-color: var.$color-primary;

    border: none;
    background-image: url('../../../assets/icons/wardrobe.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;


    @media (min-width: var.$breakpoint-md) {
      width: 44px;
      height: 44px;
    }
  }
}