@use '../../../assets/styles/index.scss' as var;

.inputGroup {
  position: relative;
  width: 100%;
  

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    color: var.$color-text-semi-transparent;
  }

  .input {
    width: 100%;
    padding: 6px;
    padding-left: 8px;
    padding-right: 40px;
    height: 36px;
    border: 1px solid var.$color-dark-gray-stroke;
    border-radius: 8px;
    background: transparent;
    color: white;
    font-size: 14px;
  }

  .invalid {
    border-color: var.$color-red !important;
  }

  
  .statusIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 24px;
    height: 24px;
    background-color: var.$color-dark-gray;
    padding: 5px;
    border-radius: 6px;
  }
}

.maxLength {
  color: var.$color-red;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.saveBtn {
  width: 100%;
  border: none;
  color: var.$color-gray;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  background-color: var.$color-button-inactive;
  pointer-events: none;

  &.validInput {
    background-color: var.$color-primary;
    color: white;
    border: 1px solid var.$color-border-primary;
    pointer-events: all;
  }
}

