@use '../../../assets/styles/index.scss' as var;

.card {
  height: 124px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  border: none;

  border-radius: 8px;
  background-color: var.$color-dark-gray;
  cursor: pointer;
  width: 100%;
  justify-content: center;
  align-items: center;


  @media (min-width: var.$breakpoint-md) {
    height: 137px;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    height: 60px;
    background-color: var.$color-gray;
    width: 100%;

    .icon {
      position: absolute;
      top: 6px;
      left: 6px;
      padding: 3px;

      border-radius: 4px;
      background-color: var.$footer-bg;

      & > img {
        width: 12px;
        height: 12px;

        @media (min-width: var.$breakpoint-md) {
          width: 14px;
          height: 14px;
        }
      }
    }

    .companyIcon {
      width: 95px;
      height: 42px;

      @media (min-width: var.$breakpoint-md) {
        width: 97px;
        height: 44px;
      }
    }
  }

  .content {
    display: flex;
    padding: 0 6px 6px 6px;
    flex-direction: column;
    gap: 5px;
    width: 100%;

    .title {
      color: var.$color-text;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      line-height: 110%;
      text-overflow: ellipsis;

      @media (min-width: var.$breakpoint-md) {
        font-size: 16px;
      }
    }

    .stars {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;
      align-self: stretch;

      & > img {
        width: 12px;
        height: 12px;

        @media (min-width: var.$breakpoint-md) {
          width: 18px;
          height: 18px;
        }
      }

      .starsMax {
        width: 26px;
        height: 26px;
      }

    }

    .progressBar {
      height: 14px;
      border-radius: 3px;
      background-color: var.$color-gray;
      overflow: hidden;

      @media (min-width: var.$breakpoint-md) {
        height: 20px;
        border-radius: 4px;
      }

      .progressBarInner {
        height: 100%;
        background-color: var.$color-primary;
      }
    }
  }

}

.selected {
  outline: 2px solid var.$color-primary;
  transition: outline 0.05s ease;
}

.disabled {
  cursor: not-allowed;
  opacity: .5;
}

.glowing {
  box-shadow: 2px 3px 40px var.$color-primary;
}
