@use '../../../assets/styles/index.scss' as var;

.card {
  height: 124px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  border: none;

  border-radius: 8px;
  background-color: var.$color-dark-gray;
  cursor: pointer;

  &.selected {
    outline: 2px solid var.$color-primary;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    height: 60px;
    background-color: var.$color-gray;

    .icon {
      position: absolute;
      top: 6px;
      left: 6px;
      padding: 3px;

      border-radius: 4px;
      background-color: var.$footer-bg;
    }
  }

  .content {
    display: flex;
    padding: 0 6px 6px 6px;
    flex-direction: column;
    gap: 5px;

    .title {
      color: var.$color-text;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      line-height: 110%;
      text-overflow: ellipsis;
    }

    .stars {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;
      align-self: stretch;
    }

    .progressBar {
      height: 14px;
      border-radius: 3px;
      background-color: var.$color-gray;
      overflow: hidden;

      .progressBarInner {
        height: 100%;
        background-color: var.$color-primary;
      }
    }
  }
}