@use '../../../src/assets/styles' as var;

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: var.$color-bg;
}

.languageOptions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc(100% - 32px);
  max-width: 315px;
}

.option {
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 12px;
  border: 1px solid var.$color-dark-gray-stroke;
  cursor: pointer;

  span {
    color: var.$color-white;
    flex-grow: 1;
    margin-left: 8px;
    opacity: 0.6;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.7px;
  }

  &.selected {
    border: 2px solid var.$color-blue-primary;

    .selectedText {
      color: var.$color-blue-primary;
    }
  }
}

%icon-base {
  width: 14px;
  height: 14px;
}

.icon {
  @extend %icon-base;
}

.statusIcon {
  @extend %icon-base;
  border-radius: 50%;
  background-color: var.$color-text-super-transparent;
}

%wrapper-base {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.selectWrapper {
  @extend %wrapper-base;
  background: #282830;
}

.flagWrapper {
  @extend %wrapper-base;
  background: var.$color-gray;
  border: 1px solid var.$color-dark-gray-stroke;
}

.flag {
  width: 24px;
  height: 24px;
}

.continueButton {
  justify-content: center;
  align-items: center;
  margin: auto 0 30px;
  width: calc(100% - 32px);
  max-width: 315px;
  padding: 10px;
  color: var.$color-white;
  border-radius: 8px;
  border: 1px solid var.$color-border-primary;
  background: var.$color-blue-primary;
  cursor: pointer;
}

.selectText {
  color: var.$color-text-super-transparent;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 60px;
  line-height: 100%;
  letter-spacing: -0.8px;
}
