@use '../../../../assets/styles/index.scss' as var;

.subscribers {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0 16px 20px 0
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  color: var.$color-text-semi-transparent;
}

.listBadge {
  padding: 4px 4px 4px 7px;
  display: flex;
  border-radius: 10px;
  background-color: var.$color-badge-bg;
}

.badge {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 100%;
}

.text {
  font-size: 14px;
  font-weight: 500;
  color: var.$color-white;

  @include var.multi-fz(14px, 16px);
}

.level {
  vertical-align: top;
  color: var.$color-text-semi-transparent;
  font-weight: 500;
  line-height: 100%;

  @include var.multi-fz(10px, 12px);
}

.description {
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.05em;
  color: var.$color-white;
  word-wrap: break-word;
  white-space: pre-line;

  @include var.multi-fz(14px, 16px);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blockInput {
  width: 100%;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 6px 6px 6px 8px;
  gap: 15px;
  border-radius: 8px;
  border: 1px solid var.$color-dark-gray;
}

.inputLink {
  width: 100%;
  background: transparent;
  color: var.$color-white;
  border: none;

  @include var.multi-fz(14px, 16px);
}

.copyButton {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  border-radius: 6px;
  background: var.$color-dark-gray;
  border: none;
}

.buttonContainer {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 8px;
  background: var.$color-blue-primary;
  border: none;

  @media (min-width: var.$breakpoint-md) {
    padding: 14px;
  }
}