@use '../../../../assets/styles/index.scss' as var;

.subscribers {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin: 5px 16px 20px 0
}

.listBadge {
  position: relative;
}

.badge {
  display: flex;
  gap: 5px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 100%;
}

.text {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: var.$color-white;
}

.level {
  font-size: 10px;
  position: absolute;
  top: -3px;
  right: -20px;
  color: var.$color-text-semi-transparent
}

.description {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: -0.05em;
  color: var.$color-white;
  margin-bottom: 10px;
}

.blockInput {
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 6px 6px 6px 8px;
  gap: 15px;
  border-radius: 8px;
  border: 1px solid var.$color-dark-gray;
}

.inputLink {
  width: 100%;
  background: transparent;
  color: var.$color-white;
  border: none;
}

.copyButton {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  border-radius: 6px;
  background: var.$color-dark-gray;
  border: none;
}

.buttonContainer {
  margin: 40px 0;
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 8px;
  background: var.$color-blue-primary;
  border: none;
}