.footerItems {
  display: flex;
  padding: 10px 15px calc(var(--tg-content-safe-area-inset-bottom) + 30px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-top: 0.5px solid #555360;
  background: #2D2D35;
  position: fixed;
  inset: auto 0 0 0;
  z-index: 80;
  width: 100%;
}

.footerItem {
  width: 40px;
  height: 40px;
  padding: 8px 9px 10px 9px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #373A43;
  border: 1px solid transparent;

  &.active {
    border-color: #2064C0;
    background: #2F80ED;
  }
}

.selectedBg {
  border-color: #2064C0;
  background: #2F80ED;
}