@use '../../assets/styles/abstracts' as var;

.footerItems {
  display: flex;
  padding: 20px 15px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-top: 0.5px solid #555360;
  background: #2D2D35;
  position: fixed;
  z-index: 2000;

  // For browser
  // inset: auto 0 0 0;

  // For telegram
  bottom: calc(0);
  left: var(--tg-content-safe-area-inset-left);
  right: var(--tg-content-safe-area-inset-right);

  z-index: 80;
  width: 100%;

  // Prevent user from scrolling while interacting with header
  touch-action: none; /* Prevents all touch actions */
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none;
  -webkit-touch-callout: none; /* Prevents iOS callout */

  &.noBorder {
    border-top: none;
  }
}

.darken {
  border-top: none;
}


.footerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; // Fully covers the footer
  background: rgba(0, 0, 0, 0.65);
  pointer-events: none;
  z-index: 1100;
}

.footerItem {
  width: 40px;
  height: 40px;
  padding: 8px 9px 10px 9px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #373A43;
  border: 1px solid transparent;

  @media (min-width: var.$breakpoint-md) {
    width: 44px;
    height: 44px;
  }

  &.active {
    border-color: #2064C0;
    background: #2F80ED;
  }
}

.selectedBg {
  border-color: #2064C0;
  background: #2F80ED;
}