.footerItems {
    display: flex;
    padding: 10px 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-top: 0.5px solid #555360;
    background: #2D2D35;
    position: fixed;
    inset: auto 0 0 0;
    z-index: 10;
    width: 100%;
}

.footerItem {
    padding: 8px 9px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #373A43;
    border: 1px solid transparent;


    fill: #D9DCE1;
    &.active {
        fill: #FDFAE8;
        border-color: #FFF;
        background: #2F80ED;
    }

    &:hover {
        fill: #FDFAE8;
        border-color: #FFF;
        background: #2F80ED;
    } 
}