@use '../../../../assets/styles/abstracts' as var;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: var.$color-opacity-black;

  width: 100%;
  height: 100%;
}

.content {
  height: 100%;
}
