@use '../../../assets/styles/index.scss' as var;

.wrp {
    display: flex;
    gap: 10px;

    height: 118px;

    .avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 118px;
        justify-content: space-between;
        border: 2px solid var.$color-dark-gray-stroke;
        border-radius: 12px;
        background-color: var.$footer-bg;

        .clanWrp {
            display: flex;
            padding: 2px 2px 2px 4px;
            justify-content: center;
            align-items: center;
            gap: 2px;
            margin-top: 4px;

            background-color: var.$color-gray;
            border-radius: 4px;

            .position {
                font-size: 12px;
                font-weight: 500;
                margin: 0;
            }
        }
    }

    .infoCard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var.$color-card-bg;
        width: 100%;
        padding: 5px;

        border-radius: 12px;

        gap: 10px;
        
        .info {
            display: flex;
            flex-direction: column;
            justify-content: start;
            

            width: 100%;

            .nicknameWrp {
                display: flex;
                padding: 5px;
                gap: 5px;

                .nickname {
                    font-size: 16px;
                    font-weight: 500;
                    margin: 0;
                }

                .subscribers {
                    font-size: 12px;
                    font-weight: 600;
                    padding: 2px 3px;
                    border-radius: 3px;
                    background-color: var.$color-primary;
                    margin: 0;
                }

                .edit {
                    margin-left: auto;
                }
            }

            .blogName {
                font-size: 14px;
                font-weight: 500;
                color: var.$color-text-semi-transparent;
                margin: 0;
                margin-left: 5px;
            }
        }

        .subscription {
            padding: 5px;

            .subscriptionTextWrp {
                display: flex;
                justify-content: space-between;

                .subscriptionText {
                    font-size: 12px;
                    font-weight: 500;
                    margin: 0;
                    color: var.$color-text-semi-transparent;
                }

                .subscriptionLevelWrp {
                    display: flex;
                    gap: 5px;

                    .subscriptionLevel {
                        font-size: 12px;
                        font-weight: 500;
                        color: var.$color-text-semi-transparent;
                        margin: 0;
                    }
                }
            }
        }
    }
}