@use '../../../assets/styles/index.scss' as var;

.wrp {
  width: 100%;
  display: flex;
  gap: 10px;
  height: 118px;

  &.showTreeLink {
    height: 157px;
  }

  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var.$color-dark-gray-stroke;
    border-radius: 12px;
    background-color: var.$footer-bg;
    
 


    &.vip {
      background: linear-gradient(transparent, transparent) padding-box,
      linear-gradient(90deg, #1551E8 0%, #E84951 100%) border-box;
      border-radius: 12px;
      border: 2px solid transparent;
    }

    .avatarImageWrp {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 118px;
      height: 100%;
      flex: 1;
      justify-content: space-between;
      border-radius: 12px;
      background-color: var.$footer-bg;
      overflow: hidden;

      .loader{
        height: 118px;
      }
    }

    .clanWrp {
      display: flex;
      padding: 2px 2px 2px 4px;
      justify-content: center;
      align-items: center;
      gap: 2px;
      margin-top: 2px;
      flex: 2;

      &.vip {
        margin-top: 4px;
      }

      background-color: var.$color-gray;
      border-radius: 4px;

      img {
        aspect-ratio: 1;
        width: 12px;

        @media (min-width: var.$breakpoint-md) {
          width: 18px;
        }
      }

      .position {
        font-size: 12px;
        font-weight: 500;
        margin: 0;

        @media (min-width: var.$breakpoint-md) {
          font-size: 16px;
        }
      }
    }

    .vipWrp {
      display: flex;
      align-items: center;
      height: 16px;
      border-radius: 4px;
      padding: 2px;
      gap: 1px;
      margin-bottom: 4px;

      background: linear-gradient(90deg, #1551E8 0%, #E84951 100%);

      .vipText {
        font-size: 12px;
      }
    }
  }

  .infoCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var.$color-card-bg;
    width: 100%;
    padding: 5px;

    border-radius: 12px;

    gap: 10px;

    .info {
      display: flex;
      flex-direction: column;
      justify-content: start;


      width: 100%;

      .nicknameWrp {
        display: flex;
        align-items: center;
        padding: 5px;
        gap: 5px;

        .nickname {
          font-size: 16px;
          font-weight: 500;
          margin: 0;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .subscribers {
          font-size: 12px;
          font-weight: 600;
          padding: 2px 3px;
          border-radius: 3px;
          background-color: var.$color-primary;
          white-space: nowrap;
          margin: 0;

          @media (min-width: var.$breakpoint-md) {
            font-size: 16px;
          }
        }

        .edit {
          margin-left: auto;
          aspect-ratio: 1;
          width: 16px;

          @media (min-width: var.$breakpoint-md) {
            width: 18px;
          }
        }
      }

      .blogName {
        font-size: 14px;
        font-weight: 500;
        color: var.$color-text-semi-transparent;
        margin: 0 0 0 5px;
      }
    }

    .subscription {
      padding: 5px;

      .subscriptionTextWrp {
        display: flex;
        justify-content: space-between;

        .subscriptionText {
          font-size: 12px;
          font-weight: 500;
          margin: 0;
          color: var.$color-text-semi-transparent;

          @media (min-width: var.$breakpoint-md) {
            font-size: 14px;
          }
        }

        .subscriptionLevelWrp {
          display: flex;
          gap: 5px;

          img {
            aspect-ratio: 1;
            width: 12px;

            @media (min-width: var.$breakpoint-md) {
              width: 16px;
            }
          }

          .subscriptionLevel {
            font-size: 12px;
            font-weight: 500;
            color: var.$color-text-semi-transparent;
            white-space: nowrap;
            margin: 0;

            @media (min-width: var.$breakpoint-md) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

.button {
  display: flex;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: var.$color-text;
  margin: 0 5px 5px 5px;
  font-size: 14px;
  font-weight: 500; 
  flex: 1;

  border: 1px solid var.$color-border-primary;
  background-color: var.$color-primary;

  @media (min-width: var.$breakpoint-md) {
    padding: 0 14px;
    font-size: 16px;
  }
}