@use '../abstracts' as var;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus-visible {
  outline: none;
}

* {
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  position: relative;

  color: var.$color-black;
  font-family: var.$font-default;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  letter-spacing: -0.015em;
  word-break: break-word;

  background-color: var.$color-bg;

  height: 100%;
  min-height: 100%;

  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

picture {
  flex-shrink: 0;
}

img,
svg {
  display: block;

  //width: 100%;
  //height: auto;
}

button {
  font: inherit;
  color: inherit;

  cursor: pointer;
}

p,
a,
button {
  text-wrap: nowrap;
}
