@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Inter'),
  local('Inter-Regular'),
  url('../../fonts/inter-v13-cyrillic_latin-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Inter Medium'),
  local('Inter-Medium'),
  url('../../fonts/inter-v13-cyrillic_latin-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Inter SemiBold'),
  local('Inter-SemiBold'),
  url('../../fonts/inter-v13-cyrillic_latin-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Inter Bold'),
  local('Inter-Bold'),
  url('../../fonts/inter-v13-cyrillic_latin-700.woff2') format('woff2');
}