

@forward 'fonts';
@forward 'basic';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  overflow: hidden !important;
}

* {
  box-sizing: border-box;
}

button:active, a{
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
