@use "../../assets/styles/abstracts" as var;

.transactionIndicator {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 9999;
    margin: 0px 10px 100px;

    border-radius: 12px;
    border: 2px solid #282830;
    background: #1C1D22;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);


    // position: fixed;
    // bottom: 10px;
    // left: 50%;
    // transform: translateX(-50%);
    // z-index: 200; // Ensure it's above everything
    // margin-bottom: 100px;
    // width: 370px; // Fixed width for consistency

    // border-radius: 12px;
    // border: 2px solid #282830;
    // background: #1C1D22;
    // box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);

    // Disable touching
    touch-action: none; /* Prevents all touch actions */
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none;
    -webkit-touch-callout: none; /* Prevents iOS callout */

    


    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
        font: var.$font-default;
        color: var.$color-white;


        &.error {
            display: flex;
            width: 370px;
            height: 60px;
            padding: 15px 9px 15px 15px;
            justify-content: space-between;
            align-items: center;
            border-radius: 12px;
            border: 2px solid #E84949;
            background: #1C1D22;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);

            color: #E84949;
        }

        &.success {
            display: flex;
            width: 370px;
            height: 60px;
            padding: 15px 9px 15px 15px;

            align-items: center;
            border-radius: 12px;
            border: 2px solid #219653;
            background: #1C1D22;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
            color: #219653;

            .checkIcon {
                width: 24px;
                height: 24px;
                fill: #219653;
            }
        }

        span {
            font-size: 16px;
        }
    }
}

.lottie {
    width: 50px;
    height: 50px;
}

.retryButton {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #282830;
    border: none;

    &:hover {
        opacity: 0.8;
    }

    svg {
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}