@use '../../assets/styles/index.scss' as var;

.wrp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;

    overflow-x: hidden;
    color: white;

    background-color: var.$color-bg;

    margin: 0;

    padding: 8px 0;

    .pageTitle {
        font-size: 20px;
        font-weight: 600;
        width: 100%;
        text-align: center;
        margin-bottom: 0;
    }

    .statsUnderTitleWrp {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 5px;

        .toCenterStats {
            width: 40px;
            height: 40px;
        }

        .statsUnderTitle {
            display: flex;
            align-self: center;
            gap: 5px;
            margin-top: 5px;

            .statWrp {
                display: flex;
                align-items: center;
                gap: 2px;   

                height: fit-content;
                padding: 5px;
                padding-left: 7px;
                border-radius: 10px;
                background-color: #212129;

                .stat {
                    font-size: 14px;
                    font-weight: 500;
                    margin: 0;
                    white-space: nowrap;
                }
            }
        }

        .seeStatsButton {
            height: 40px;
            width: 40px;
            border-radius: 10px;
            background-color: var.$color-blue-primary;
            border: none;
            background-image: url('../../assets/icons/stats_button.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin-right: 15px;
            background-size: 50%;
        }

    }

    .integrationNameWrp {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-self: center;

        margin-top: 10px;

        .integrationTitle {
            font-size: 14px;
            font-weight: 500;
            color: var.$color-text-semi-transparent;
        }

        .integrationLevelWrp {
            display: flex;
            gap: 5px;
            .integrationLevel {
                font-size: 14px;
                font-weight: 500;
                color: #fff;
            }
        }
    }

    .integration {
        width: 90%;
        height: 195px;
        align-self: center;
        background-color: var.$footer-bg;
        border: 1px solid var.$color-dark-gray-stroke;
        border-radius: 12px;

        display: flex;
        align-items: center;
        justify-content: center;

        .image1 {
            height: 50px;
            width: 50px;
            border: none;
            background-image: url('../../assets/icons/integration_placeholder.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-size: 50%;
        }
    }

    .integrationStatsWrp {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        gap: 5px;
        height: 53px;

        margin-top: 10px;

        .integrationStat {
            display: flex;
            padding: 5px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 53px;
            background-color: #1C1D22;
            border-radius: 12px;
            gap: 5px;

            .typeWrp {
                display: flex;
                gap: 2px;

                .type {
                    font-size: 12px;
                    margin: 0;
                    font-weight: 500;
                    color: var.$color-text-semi-transparent;
                }
            }

            .amount {
                font-size: 16px;
                font-weight: 500;
                color: white;
                white-space: nowrap;
                width: 100%;
                text-align: center;
                margin: 0;
            }
        }
    }

    .commentsSectionTitleWrp {
        margin-top: 20px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        .commentsSectionTitle {
            font-weight: 500;
            font-size: 14px;
            color: var.$color-text-semi-transparent;
        }

        .commentsAmount {
            color: white;
            font-size: 14px;
        }
    }
}