//@use '/src/platform/assets/styles' as var;

.wrp {

    width: 100%;
    height: 100vh;
    background-color: #AFB9D4;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
    color: white;

    background-color: #141319;

    margin: 0;

    font-family: 'Inter', sans-serif;


    .pageTitle {
        font-size: 20px;
        font-weight: 600;
        width: 100%;
        text-align: center;
        margin-bottom: 0;
    }

    .statsUnderTitleWrp {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 5px;

        .toCenterStats {
            width: 40px;
            height: 40px;
        }

        .statsUnderTitle {
            display: flex;
            align-self: center;
            gap: 5px;
            margin-top: 5px;

            .statWrp {
                display: flex;
                align-items: center;
                gap: 2px;   

                height: fit-content;
                padding: 5px;
                padding-left: 7px;
                border-radius: 10px;
                background-color: #212129;

                .stat {
                    font-size: 14px;
                    font-weight: 500;
                    margin: 0;
                    white-space: nowrap;
                }
            }
        }

        .seeStatsButton {
            height: 40px;
            width: 40px;
            border-radius: 10px;
            background-color: #2F80ED;
            border: none;
            background-image: url('../../assets/icons/stats_button.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin-right: 15px;
            background-size: 50%;
        }

    }

    .integrationNameWrp {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-self: center;

        margin-top: 10px;

        .integrationTitle {
            font-size: 14px;
            font-weight: 500;
            color: #AFB9D4;
        }

        .integrationLevelWrp {
            display: flex;
            gap: 5px;
            .integrationLevel {
                font-size: 14px;
                font-weight: 500;
                color: #fff;
            }
        }
    }

    .integration {
        width: 90%;
        height: 195px;
        align-self: center;
        background-color: #2D2D35;
        border: 1px solid #282830;
        border-radius: 12px;
    }

    .integrationStatsWrp {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        gap: 5px;
        height: 53px;

        margin-top: 10px;

        .integrationStat {
            display: flex;
            padding: 5px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 53px;
            background-color: #1C1D22;
            border-radius: 12px;
            gap: 5px;

            .typeWrp {
                display: flex;
                gap: 2px;

                .type {
                    font-size: 12px;
                    margin: 0;
                    font-weight: 500;
                    color: #AFB9D4;
                }
            }

            .amount {
                font-size: 16px;
                font-weight: 500;
                color: white;
                margin: 0;
            }
        }
    }
}