@use '../../../assets/styles/index.scss' as var;

.progressContainer {
    width: 100%;
    height: 16px;
    margin-top: 10px;
    background-color: var.$color-gray;
    border-radius: 4px;
    overflow: hidden;

    .progressBar {
        height: 100%;
        background-color: var.$color-blue-primary;
        transition: width 0.3s ease-in-out;
      }
}
  
  