@use '../../assets/styles' as var;

.page {
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: var.$color-bg;
  color: var.$color-text;

  .topSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .pageTitle {
      margin: 0;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      line-height: 100%;

      @media (min-width: var.$breakpoint-md) {
        font-size: 24px;
      }
    }

    .badges {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5px;

      .badge {
        display: flex;
        padding: 4px 4px 4px 7px;
        border-radius: 10px;
        background: var.$color-badge-bg;
        font-size: 14px;
        line-height: 100%;


        @media (min-width: var.$breakpoint-md) {
          padding: 4px 6px 4px 8px;
          font-size: 16px;
        }

        img {
          margin-left: 2px;
          width: 14px;
          height: 14px;

          @media (min-width: var.$breakpoint-md) {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }
}