@use '../../assets/styles/index.scss' as var;

.page {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: var.$color-bg;
  color: var.$color-text;

  .topSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .pageTitle {
      margin: 0;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      line-height: 100%;
    }

    .badges {
      display: flex;
      gap: 5px;

      .badge {
        display: flex;
        padding: 4px 4px 4px 7px;
        border-radius: 10px;
        background: var.$color-badge-bg;
        font-size: 14px;
        line-height: 100%;

        img {
          margin-left: 2px;
        }
      }
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .sectionHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .sectionTitle {
        margin: 0;
        color: var.$color-text-semi-transparent;
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
      }

      .count {
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
      }
    }

    .tasksList {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}