@use '../../../assets/styles/index.scss' as var;


.wrp {
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #2D2D35;
    border-radius: 12px;
    border: 2px solid var.$color-dark-gray-stroke;
    overflow: hidden;
    position: relative;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
}