@use '../../../assets/styles' as var;

.button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-weight: 500;
  color: var.$color-white;

  @include var.multi-fz(14px, 16px);

  @media (min-width: var.$breakpoint-md) {
    padding: 14px;
  }
}

.buttonBlue {
  border: 1px solid var.$color-border-primary;
  background: var.$color-blue-primary;
}

.buttonRed {
  border: 1px solid var.$color-border-red;
  background: var.$color-red;
}

.buttonGray {
  border: 1px solid var.$color-dark-gray;
  background: var.$color-gray;
}

.buttonPurple {
  border: 1px solid var.$color-purple;
  background: var.$color-purple;
}
