@use '../../../../assets/styles/index.scss' as var;

.calendar-day {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    background-color: var.$footer-bg;
  
    &.streak {
      border: 2px solid var.$color-red;
    }
  
    &.freeze {
      border: 2px solid var.$color-primary;
    }

  
    .status-icon {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -8.5px;
      border: 0.5px solid #3A374D; 
  
      &.streak {
        background-color: var.$color-red;
      }
  
      &.freeze {
        background-color: var.$color-primary;
      }
  
      img {
        padding: 1px;
      }
    }
  }
  