@use 'sass:color';

$color-white: #ffffff;
$color-black: #0a0a0b;
$half-transparent-text: #afb9d4;

$main-bg: #141319;
$secondary-bg: #1c1d22;
$third-bg: #2d2d35;
$dark-blue-bg: #212129;
$light-gray-bg: #cbcee2;
$accent-blue: #2f80ed;
$half-tgransparent-bg: #505b78;
$purple: #9747ff;

$grayed-white: #d9dce1;
$gray: #373a43;
$dark-grey-border: #282830;
$dark-blue-border: #2064C0;

$gradient: linear-gradient(#1551e8, #e84951);
