@use 'sass:color';

$color-white: #ffffff;
$color-black: #000000;

$color-bg: #141319;
$footer-bg: #2d2d35;

$color-opacity-black: color.scale($color-black, $alpha: 50%);

$color-dark-gray-stroke: #282830;

$color-green: #219653;

$grayed-white: #d9dce1;
$light-gray-bg: #cbcee2;
$gradient: linear-gradient(to right, #1551e8, #e84951);
$gradient-progress-tree: linear-gradient(360deg, #2f80ed 0%, #9747ff 243.79%);

$color-red: #e84949;
$color-gray: #373a43;
$color-blue-primary: #2f80ed;
$color-blue-light: #56ccf2;
$color-purple: #9747ff;
$color-frozen-blue: #2D9CDB;
$color-dark-blue: #2d79df;

$color-text: #fff;
$color-text-semi-transparent: #afb9d4;
$color-text-super-transparent: #505b78;

$color-card-bg: #1c1d22;
$color-badge-bg: #212129;
$color-badge-button-bg: #d9dce1;
$color-bg: #141319;

$color-dark-gray: #282830;
$color-dark-amethyst: #3a374d;

$color-primary: #2f80ed;
$color-border-primary: #2064c0;
$color-prize-primary: #4e6ef2;
$color-border-red: #c93232;
$color-secondary: #9b51e0;
$color-border-secondary: #7a2bc3;
$color-grayish-white: #d9dce1;

$color-button-inactive: #24252c;

$color-pale-semi-transparent: #505B78;