@use 'sass:color';

$color-white: #ffffff;
$color-black: #000000;

$color-bg: #141319;
$footer-bg: #2D2D35;

$color-dark-gray-stroke: #282830;

$color-green: #219653;
$color-red: #E84949;
$color-gray: #373A43;
$color-blue-primary: #2F80ED;

$color-purple: #9747FF;
$color-dark-blue: #2D79DF;

$color-text: #FFF;
$color-text-semi-transparent: #AFB9D4;

$color-card-bg: #1C1D22;
$color-badge-bg: #212129;
$color-bg: #141319;

$color-primary: #2F80ED;
$color-border-primary: #2064C0;
$color-secondary: #9B51E0;
$color-border-secondary: #7A2BC3;
$color-grayish-white: #D9DCE1;