@use 'sass:color';

$color-white: #ffffff;
$color-black: #000000;

$color-bg: #141319;
$footer-bg: #2D2D35;

$color-dark-gray-stroke: #282830;

$color-green: #219653;
$color-red: #E84949;
$color-blue-primary: #2F80ED;

$color-text-semi-transparent: #AFB9D4;