@use './colors' as color;
@use './variables' as var;

@mixin number-text {
    margin: 0;
    color: color.$color-white;
    font-family: var.$font-default;
    font-weight: 600;
    letter-spacing: 0.5px;
}