@use '../../../assets/styles/index.scss' as var;

.listBadge {
  position: relative;
}

.badge {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  line-height: 100%;
  color: white;

  @include var.multi-fz(14px, 16px);

  img {
    width: 16px;
    height: 16px;
  }
}

.userCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  background: var.$footer-bg;
  margin-top: 10px;
}

.userCardBottom {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 31px;
}

.userCardAvatar {
  padding: 5px;
  border-radius: 3px;
  background: var.$color-badge-bg;
}

.userCardTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.infoUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.nameAndStreakWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.streakWrapper {
  display: flex;
  gap: 5px
}

.streakBadge {
  width: fit-content;
  padding: 2px 6px;
  display: flex;
  gap: 2px;
  align-items: center;
  color: white;
  height: fit-content;
  border-radius: 10px;
  background: var.$color-badge-bg;
  font-weight: 500;
  line-height: 100%;

  @include var.multi-fz(12px, 14px);

  img {
    @include var.multi-size(12px, 14px)
  }

  &.notToday {
    color: var.$color-gray;
  }

  &.notInDays {
    color: var.$light-gray-bg;
  }

  &.warning {
    text-wrap: pretty;
    color: var.$color-red;

    img {
      @include var.multi-size(12px, 14px)
    }
  }
}

.userCardBonus {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  position: relative;
}

.text {
  font-weight: 500;
  line-height: 100%;
  color: var.$color-white;

  @include var.multi-fz(14px, 16px);
}

.level {
  position: absolute;
  top: -3px;
  right: -20px;
  color: var.$color-text-semi-transparent;

  @include var.multi-fz(10px, 12px);
}

.userCardRank, .userCardRefs {
  color: var.$color-blue-primary;
}

.userCardRefs {
  background: none;
  border: none;
}

.streakWarningWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .warningButton {
    color: white;
    width: fit-content;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var.$color-border-red;
    background-color: var.$color-red;

    font-size: 14px;
    font-weight: 500;
    line-height: 100%;


    @media (min-width: var.$breakpoint-md) {
      padding: 14px;
    }
  }
}

