@use '../../../assets/styles/index.scss' as var;

.listBadge {
  position: relative;
}

.badge {
  display: flex;
  gap: 5px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 100%;
  color: white;
}

.userCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  background: var.$footer-bg;
  margin-top: 10px;
}

.userCardBottom {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 31px;
}

.userCardAvatar {
  padding: 5px;
  border-radius: 3px;
  background: var.$color-gray;
}

.userCardTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.infoUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.nameAndStreakWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.streakWrapper {
  display: flex;
  gap: 5px
}

.streakBadge {
  width: fit-content;
  padding: 2px 6px;
  display: flex;
  gap: 2px;
  align-items: center;
  border-radius: 10px;
  background: var.$color-badge-bg;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;

  &.notToday {
    color: var.$color-gray;
  }

  &.notInDays {
    color: var.$light-gray-bg;
  }

  &.warning {
    color: var.$color-red;
  }
}

.userCardBonus {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  position: relative;
}

.text {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: var.$color-white;
}

.level {
  font-size: 10px;
  position: absolute;
  top: -3px;
  right: -20px;
  color: var.$color-text-semi-transparent
}

.userCardRank, .userCardRefs {
  color: var.$color-blue-primary;
}

.userCardRefs {
  background: none;
  border: none;
}

.streakWarningWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .warningButton {
    width: fit-content;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var.$color-border-red;
    background-color: var.$color-red;

    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
  }
}

