@use '/src/assets/styles/index.scss' as var;

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: var.$color-bg;
}

.coin {
  width: 80px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadingWrp {
  margin-top: auto;
  margin-bottom: 60px;
  width: 100%;
  padding: 0 30px;

  .text {
    color: var.$color-text-super-transparent;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.8px;
    line-height: 100%;
    padding-top: 20px;
  }
}
