@use '/src/assets/styles/index.scss' as var;

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: var.$color-bg;
  justify-content: space-between;
  overflow-y: hidden;

  .clickableArea {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 10000;
  }

  .beta {
    display: flex;
    padding: 5px 10px 6px 10px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #282830;
    background: #1C1D22;
    color: #AFB9D4;
    text-align: center;
    font-family: var.$font-default;
    font-size: 16px;
    font-weight: 500;
  }

  .loadingScreenBar {
    width: 100%;
  }

  .betaAndProgressBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
  }

  .particle {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var.$color-blue-primary;
    pointer-events: none;
    opacity: 1;
    transform: scale(1);
    animation: flyToProgress 0.8s cubic-bezier(0.42, 0, 0.58, 1) forwards;
  }

  @keyframes flyToProgress {
    0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }

    50% {
      transform: translate(-50px, -30px) scale(1.2);
      opacity: 0.8;
    }

    100% {
      transform: translate(-100px, -10px) scale(0.5);
      opacity: 0;
    }
  }
}

.coin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadingWrp {
  margin-bottom: 80px;
  width: 100%;
}

.notMobile {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var.$color-bg;
  font-size: 16px;


  .qr {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;

    img {
      width: 161px;
      height: 161px;
    }

    p {
      width: 100%;
      text-align: center;
      color: var.$color-grayish-white;
      font-weight: 600;
    }
  }


  .useMobileApp {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 120%;
    color: var.$color-text-semi-transparent;
    bottom: 80px;
  }
}