@use '/src/assets/styles/index.scss' as var;

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: var.$color-bg;
  justify-content: baseline;
}

.coin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadingWrp {
  margin-top: auto;
  margin-bottom: 60px;
  width: 100%;
  padding: 0 30px;
}
