.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: #282830;

}

.coin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  margin-top: auto;
  margin-bottom: 60px;
  color: #505B78;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.8px;
  line-height: 100%;
}

html,
body {
  margin: 0;
}