@use "../../../assets/styles/abstracts" as var;

.titleStyles {
    display: flex;
    padding: 10px 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    align-self: stretch;
}

.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-top: 23px;
}

.soundSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.soundWrapper {
    display: flex;
    padding: 6px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #282830;
    cursor: pointer;
    transition: all 0.2s ease;

    &.selected {
        border-color: #2F80ED;
    }
}

.soundAndIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    padding: 6px;
    padding-left: 8px;
    transition: all 0.2s ease;
}

.status {
    display: flex;
    padding: 3.5px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.7px;

    &.statusEnabled {
        background: rgba(47, 128, 237, 0.20);
        color: #2F80ED;
    }

    &.statusDisabled {
        background: rgba(80, 91, 120, 0.20);
        color: #505B78;
    }
}

.selectionIconWrapper {
    display: flex;
    width: 26px;
    height: 26px;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #282830;

    .selectionIcon {
        width: 16px;
        height: 16px;
    }
}

.applyButton {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #2064C0;
    background: #2F80ED;
    color: #FFF;
    text-align: center;
    font-family: var.$font-default;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
} 