@use '../../../assets/styles/abstracts/colors' as var;
@use 'sass:color';

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin-top: 30px;
}

.top {
  display: flex;
  gap: 55px;
  @media (max-width: 475px) {
    gap: 25px;
  }
}

.bg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.light {
  position: absolute;
  width: 200px;
  margin-top: 20px;
  @media (max-width: 475px) {
    width: 150px;
  }
}
.content {
  position: relative;
  padding: 5px;
  background: #28283099;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 26px;
  z-index: 111;
}
.content img {
  width: 14px;
}
.content p {
  color: var.$color-white;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}
.bottom {
  margin-bottom: 30px;
}
.bottom p {
  color: var.$color-text-semi-transparent;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reward {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
