@use '../../../assets/styles/index.scss' as var;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .progress {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;

      .progressInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var.$color-text-semi-transparent;
        font-size: 12px;
        font-weight: 500;
        line-height: 100%;

        .progressIcon {
          display: flex;
          gap: 5px;
        }
      }

      .progressBar {
        height: 16px;
        border-radius: 3px;
        background-color: var.$color-gray;
        overflow: hidden;

        .progressBarInner {
          height: 100%;
          background-color: var.$color-primary;
        }
      }
    }

    .description {
      margin-top: 10px;
      color: var.$color-text-semi-transparent;
      text-align: center;
      font-size: 12px;
      font-weight: 500;
      line-height: 120%;
    }
  }

  .buttons {
    width: 100%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);

    .button {
      display: flex;
      position: relative;
      padding: 10px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      color: var.$color-text;

      
      
      font-size: 14px;
      font-weight: 500;

      border: 1px solid var.$color-border-primary;
      background-color: var.$color-primary;

      &:disabled {
        pointer-events: none;

        border: none;
        background-color: var.$color-button-inactive;
        color: var.$color-gray;

        grid-column: span 2;
      }

      &.gray {
        border-color: var.$color-dark-gray-stroke;
        background-color: var.$color-gray;
      }
    }
  }
}

.glowing {
  box-shadow: 2px 3px 30px var.$color-primary;
}