@use '../../../assets/styles/index.scss' as var;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .progress {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 6px;

      .progressInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var.$color-text-semi-transparent;
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;

        .progressIcon {
          display: flex;
          gap: 5px;
        }
      }

      .progressBar {
        height: 20px;
        border-radius: 3px;
        background-color: var.$color-gray;
        overflow: hidden;

        .progressBarInner {
          height: 100%;
          background-color: var.$color-primary;
        }
      }
    }

    .description {
      margin-top: 10px;
      color: var.$color-text-semi-transparent;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: -5%;
      text-align: center;
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    gap: 8px;

    .button {
      width: 100%;
      height: 44px;
      display: flex;
      position: relative;
      padding: 10px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      color: var.$color-text;
      gap: 5px;

      font-size: 14px;
      font-weight: 500;

      border: 1px solid var.$color-border-primary;
      background-color: var.$color-primary;

      &:disabled {
        pointer-events: none;

        border: none;
        background-color: var.$color-button-inactive;
        color: var.$color-gray;

        grid-column: span 2;
      }

      &.gray {
        width: 44px;
        padding: 13px;
        border-color: var.$color-dark-gray-stroke;
        background-color: var.$color-gray;
      }
    }
  }
}

.time {
  color: #2F80ED4D;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -5%;
  text-align: center;
  margin-top: 20px;
}

.errorModal {
  max-width: 250px;
  color: var.$color-white;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 8px;
  border-radius: 8px;
  background: var.$color-primary;
  transform: translate(-50%, -320%);
  text-align: center;
}

.glowing {
  position: relative;
  box-shadow: 0px 0px 60px 20px rgba(47, 115, 189, 0.9);
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
  

  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: inherit;
    background: rgba(47, 115, 189, 0.5);
    filter: blur(20px);
    z-index: -1;
    animation: glowPulse 1.5s infinite alternate ease-in-out;
  }
}

@keyframes glowPulse {
  from {
    opacity: 0.8;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.1);
  }
}
