@use '../../../assets/styles/index.scss' as var;

.integrationsControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: fixed;
  right: 15px;
  bottom: calc(80px + 15px); // 80px - footer height, 15px - padding from footer
  left: 15px;
  z-index: 5;

  .button {
    display: flex;
    position: relative;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: var.$color-text;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid var.$color-border-primary;
    background-color: var.$color-primary;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 10px 4px rgba(72, 128, 255, 0.6);
    outline: none;
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &.glowing {
      box-shadow: 0 0 100px 20px var.$color-blue-primary;
    }

    .buttonBadge {
      position: absolute;
      top: -25%;
      display: flex;
      padding: 2px 4px;
      justify-content: center;
      align-items: center;
      gap: 2px;
      border-radius: 4px;
      border: 1px solid var.$color-dark-gray;
      background-color: var.$color-badge-button-bg;
      color: var.$color-dark-gray;
      font-size: 12px;
      font-weight: 500;
      line-height: 100%;
    }
  }
}