@use '../../../../assets/styles/index.scss' as var;

.sliderContainer {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  div[class~=slick-list] {
    padding: 5px;
  }
}

.cardWrapper {
  position: relative;
  width: 80px;
  margin-right: 10px;
  margin-bottom: 10px;

  @media (min-width: var.$breakpoint-md) {
    width: 100px;
    margin-right: 15px;
  }
}

.cardBlock, .vipCard {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
  color: var.$color-white;
  background: var.$footer-bg;
  border-image-slice: 1;
  border: 2px solid var.$color-dark-gray-stroke;

  @include var.multi-size(80px, 100px)
}

.vipCard {
  background: var.$gradient;
}

.infoRang {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: 2;
  line-height: 100%;

  &, .fireIcon {
    @include var.multi-fz(12px, 16px);
  }

  img {
    @include var.multi-size(12px, 16px)
  }
}

.seat {
  display: block;
  background-color: var.$color-gray;
  border-radius: 4px;
  font-weight: 500;
  padding: 2px;
  z-index: 2;
}

.fireIcon {
  display: flex;
  align-items: center;
  background: var.$color-red;
  color: var.$color-white;
  padding: 2px;
  font-size: 12px;
  border-radius: 4px;
  z-index: 2;
}

.middleRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  img {
    @include var.multi-size(44px, 60px)
  }
}

.vip {
  position: absolute;
  bottom: -3px;
  left: -3px;
  display: flex;
  align-items: center;
  padding: 2px;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  background: linear-gradient(90deg, #1551E8 -1.82%, #E84951 100%);
  z-index: 2;

  img {
    width: 12px;
    height: 12px;
  }
}
