@use '../../../../assets/styles/index.scss' as var;

.sliderContainer {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  div[class~=slick-list] {
    padding: 5px;
  }
}

.cardWrapper {
  position: relative;
  width: 100px; // Ширина должна совпадать с шириной .cardBlock
  margin-right: 10px; // Отступ между слайдами
}

.cardBlock, .vipCard {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100px; // Увеличиваем ширину
  height: 100px; // Увеличиваем высоту
  border-radius: 8px;
  color: var.$color-white;
  background: var.$color-dark-gray-stroke;
  border-image-slice: 1;
  padding: 0; // Убедитесь, что padding не влияет на ширину
  margin: 0; // Убедитесь, что margin не влияет на ширину
}

.vipCard {
  background: var.$gradient;
}

.infoRang {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: 2;
}

.card {
  width: 98px; // Уменьшаем ширину на 2px для учета padding
  height: 98px; // Уменьшаем высоту на 2px для учета padding
  display: flex;
  background-color: var.$footer-bg;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
}

.seat {
  display: block;
  background-color: var.$color-gray;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  padding: 2px;
  z-index: 2;
}

.fireIcon {
  display: flex;
  align-items: center;
  background: var.$color-red;
  color: var.$color-white;
  padding: 2px;
  font-size: 12px;
  border-radius: 4px;
  z-index: 2;

  img {
    width: 12px;
    height: 12px;
  }
}

.middleRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.vip {
  position: absolute;
  bottom: -3px;
  left: -3px;
  display: flex;
  align-items: center;
  padding: 2px;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  background: linear-gradient(90deg, #1551E8 -1.82%, #E84951 100%);
  z-index: 2;

  img {
    width: 12px;
    height: 12px;
  }
}
