@use '../../assets/styles/index.scss' as var;

.container {
  margin-top: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 5;
}

.progressBar {
  position: absolute;
  width: 30px;
  height: 100%;
  border: 2px solid var.$color-dark-gray-stroke;
  background: var.$color-gray;
  border-bottom: none;
  border-top: none;
}

.progressBarAdditional {
  position: absolute;
  width: 30px;
  height: 230px;
  border: 2px solid var.$color-dark-gray-stroke;
  background: var.$color-gray;
  border-bottom: none;
  border-top: none;
  bottom: 0;
  left: 50%;
}

.progressFill {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var.$gradient-progress-tree;
  transition: height 0.3s ease;
}

.levelMarker {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.levelCircle {
  width: 55px;
  height: 32px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  transition: background 0.3s, border 0.3s;
  background: var.$color-card-bg;
  border: 2px solid var.$color-dark-gray-stroke;
}

.active {
  background: var.$gradient-progress-tree;
  border: 2px solid var.$color-border-primary;
}

.rewardsIconsWrapper {
  display: flex;
  gap: 5px
}

.prize,
.priseSubscribers,
.prizeRight {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: -20px;
  right: 80px;
  min-width: 120px;
  width: auto;
  height: auto;
  min-height: 42px;
  align-items: center;
  justify-content: center;
}

.priseSubscribers {
  top: 0;
}

.prizeRight {
  right: -130px;
}

.spiner {
  position: absolute;
  top: -290%;
  left: -135%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 190px;
  height: 190px;
  z-index: -2;
  animation: spin 6s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.takeRewardBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  font-size: 16px;
  padding: 6px 3px;
  border-radius: 6px;
  background: var.$gradient-progress-tree;
  border: 2px solid var.$color-border-primary;

  &.hidden {
    display: none;
  }
}

.imgPrize,
.imgPrizeActive {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  aspect-ratio: 1;
  border-radius: 4px;
  padding: 3px 6px;
  background: var.$color-card-bg;
  border: 2px solid var.$color-dark-gray-stroke;

  .giftStatus {
    position: absolute;
    top: -9px;

    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var.$color-gray;

    background: var.$footer-bg no-repeat center;
    background-size: 85%;

    &.notAchieved {
      background-image: url('../../assets/icons/question.svg');
    }

    &.notTaken {
      background-image: url('../../assets/icons/gift-ready.svg');
    }

    &.arrowsPurple {
      background-image: url('../../assets/icons/arrows-up-purple.svg');
    }

    &.arrowsRed {
      background-image: url('../../assets/icons/arrows-up-red.svg');
    }
  }
}

.imgPrizeActive {
  position: absolute;
  width: 190px;
  height: 190px;
  z-index: -2;
  animation: spin 6s linear infinite;
  background-color: transparent;
  border: none;
}

.questionWrapper {
  aspect-ratio: 1;
  width: 18px;
  position: absolute;
  top: -12px;
  padding: 1px;
  border-radius: 2px;
  background-color: var.$footer-bg;
  outline: 1px solid var.$color-gray;
}

.blur {
  aspect-ratio: 1;
  position: absolute;
  top: -1px;
  width: 44px;
  border-radius: 4px;
  padding: 3px 6px;
  opacity: 0.6;
  background: var.$color-gray;
}

.text {
  border-radius: 4px;
  padding: 3px 6px;
  background: var.$color-card-bg;
  border: 2px solid var.$color-dark-gray-stroke;

  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  gap: 6px;
  line-height: 13.2px;
  letter-spacing: -0.05em;
  text-align: center;
  overflow: hidden;

  span {
    color: var.$color-text-semi-transparent;

    &.inactive {
      color: var.$color-pale-semi-transparent;
    }
  }
}

.textActive {
  color: var.$color-text-semi-transparent;
}

.blickAnimation {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: -5px;
  pointer-events: none;
}