@use "../../../../assets/styles/index.scss" as var;

.wrp {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  text-align: center;

  .description {
    width: 100%;
    font-size: 12px;
    color: var.$color-text-semi-transparent;
    white-space: normal;
    text-align: center;
  }

  .progress {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .progressInfo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        span {
            font-size: 12px;
            color: var.$color-text-semi-transparent;
        }
        .ratingTextWrp {
            display: flex;
            gap: 5px;
            align-items: center;
        }
  }
  }

  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    position: relative; // Ensures absolute positioning for child elements
  
    label {
      font-size: 12px;
      color: var.$color-text-semi-transparent;
      text-align: left;
    }
  
    .input {
      width: 100%;
      padding: 8px 40px 8px 8px; // Extra padding-right for icon spacing
      border: 1px solid var.$color-dark-gray-stroke;
      border-radius: 8px;
      background: transparent;
      color: white;
      font-size: 14px;
    }
  
    .invalid {
      border-color: var.$color-red !important;
    }
  
    .statusIcon {
      position: absolute;
      right: 10px;
      top: 50%;
      width: 24px;
      height: 24px;
    }
  }
  
  .errorText {
    color: var.$color-red;
    font-size: 12px;
    margin-top: -5px;
  }
  
  .submitBtn {
    width: 100%;
    border: none;
    color: var.$color-gray;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    background-color: var.$color-button-inactive;
    pointer-events: none;
  
    &:not(:disabled) {
      background-color: var.$color-primary;
      color: white;
      border: 1px solid var.$color-border-primary;
      pointer-events: all;
    }
  }  
}

