@use '../../../assets/styles' as var;

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.85);
}

.modal {
  padding: 5px 12px 12px;
  background-color: var.$color-bg;
  border: 1px solid var.$color-dark-gray;
  border-radius: 12px;
  width: 100%;
  max-height: 80%;
  overflow-y: auto;
  @include var.hide-scroll;
}

.disabled {
  opacity: 0.7;

  pointer-events: none;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  padding: 10px 0;
  margin-bottom: 5px;
}

.title {
  display: flex;
  justify-content: center;
  gap: 5px;

  color: var.$color-text;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;

  margin: 0;
}

.closeBtn {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
}

.closeIcon {
  @include var.transition(color);
  color: #3c3937;

  background-color: transparent;
  border: none;

  fill: currentcolor;

  &:hover {
    color: var.$color-black;
  }
}
