.wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;

  .bg_image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100% + 20px);
    z-index: -1;
    transition: transform 0.1s ease-out;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1728px;

  height: calc(100vh - 140px);
  padding: 20px 15px;
  overflow-y: auto;
  overflow-x: hidden;

  &.withHeader {
    margin-top: 60px;
  }

  &.isMain{
    padding: 0;
    height: 100vh;
    margin-top: 0;
  }
}