.wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1728px;

  height: calc(100vh - 140px);
  margin-top: 60px;
  padding: 20px 15px;
  overflow-y: auto;
  overflow-x: hidden;
}