.wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.settingsIcon {
  position: sticky;
  //top: calc(var(--tg-safe-area-inset-top));
  top: calc(var(--tg-safe-area-inset-top) + var(--tg-content-safe-area-inset-top) / 2);
  right: calc(var(--tg-safe-area-inset-right) + 90px);
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1728px;
  height: calc(100vh - 140px);
  //padding: 20px 15px;
  padding: calc(var(--tg-content-safe-area-inset-top) + 20px) 15px 20px;
  overflow-y: auto;
  overflow-x: hidden;

  &.withHeader {
    margin-top: 60px;
    //padding-top: var(--tg-content-safe-area-inset-top) + 60px;
    //margin-top: var(--tg-content-safe-area-inset-top) + 60px;
  }
}