.settingsWrapper {
  position: sticky;
  top: var(--tg-safe-area-inset-top);
  right: calc(var(--tg-safe-area-inset-right) + 90px);
}

.wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1728px;

  height: calc(100vh - 140px);
  padding: 20px 15px;
  overflow-y: auto;
  overflow-x: hidden;

  &.withHeader {
    //padding-top: 60px;
    padding-top: calc(var(--tg-content-safe-area-inset-top) + 10px);
  }
}