.wrp {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;

  margin: 0 auto;

  overflow-x: hidden;
}

.footer{
  position: relative;
  margin-top: 100px;
}
.content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
  max-width: 1728px;
  min-height: calc(100vh - 50px);
}