@use "../assets/styles/abstracts" as var;

$header-position: calc(var(--tg-content-safe-area-inset-top) + var(--tg-safe-area-inset-top));

.wrp {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 17px);
  margin: 0 auto;
  overflow: hidden;

  .bg_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    transition: transform 0.1s ease-out;
    object-fit: cover;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1728px;
  height: var(--tg-viewport-stable-height);
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
  position: relative;
  background-color: var.$color-bg;
  z-index: 1;

  &.progressTree {
    background-color: transparent;
  }

  
  padding-top: calc(var(--tg-content-safe-area-inset-top) + var(--tg-safe-area-inset-top) + 68px);
  margin-bottom: 84px;

  &.room {
    padding-top: 0;
  }

  &.ios {
    -webkit-overflow-scrolling: touch;

    &.withHeader {
      margin-bottom: calc(var(--tg-content-safe-area-inset-bottom) + 90px);

      &.reducedMargin {
        padding-top: max(var(--tg-content-safe-area-inset-top), 20px);
      }
    }
  }

  &.android {
    scrollbar-width: none;

    &.withHeader {
      padding-top: calc(var(--tg-content-safe-area-inset-top) - 90px);
      margin-bottom: calc(var(--tg-content-safe-area-inset-bottom) + 90px);

      &.reducedMargin {
        margin-top: var(--tg-content-safe-area-inset-top) + 1;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.settingsIcon {
  position: fixed;
  z-index: 50;
  top: calc(var(--tg-safe-area-inset-top) + 6px);

  &.iosSettings {
    right: calc(var(--tg-safe-area-inset-right) + 95px);
  }

  &.androidSettings {
    right: calc(var(--tg-safe-area-inset-right) + 85px);
  }

  &.isMain {
    padding: 0;
    height: 100vh;
    margin-top: 0;
  }
}

.headerBG {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 102px;
  border-bottom: 1px solid var.$color-dark-gray;
  background: var.$color-card-bg;
}
