.wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;

  .bg_image {
    position: fixed;
    width: 100vw;
    height: calc(100% - 81px);
    background-image: url('../assets/icons/roadmap-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1728px;

  height: calc(100vh - 140px);
  padding: 20px 15px;
  overflow-y: auto;
  overflow-x: hidden;

  &.withHeader {
    margin-top: 60px;
  }
}