.wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}


.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1728px;
  //height: calc(100vh - 140px);
  height: calc(var(--tg-viewport-height) - 110px);
  //padding: 20px 15px;
  padding: calc(var(--tg-content-safe-area-inset-top) + 80px) 15px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: contain;
  scroll-behavior: smooth;


  &.withHeader {
    margin-top: 70px;
    //padding-top: var(--tg-content-safe-area-inset-top) + 60px;
    //margin-top: var(--tg-content-safe-area-inset-top) + 60px;
  }
}



.settingsIcon {
  position: fixed;
  //top: calc(var(--tg-safe-area-inset-top));
  //top: calc(var(--tg-content-safe-area-inset-top) / 1.5 + var(--tg-content-safe-area-inset-top) / 1.5);
  top: calc(var(--tg-safe-area-inset-top) + 6px);
  right: calc(var(--tg-safe-area-inset-right) + 95px);
  z-index: 50;
}
