//.wrp {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  min-height: 100vh;
//  margin: 0 auto;
//  overflow-x: hidden;
//}
//
//.content {
//  overflow-y: auto;
//  overflow-x: hidden;
//  display: flex;
//  flex-direction: column;
//  flex-grow: 1;
//  width: 100%;
//  max-width: 1728px;
//  margin-top: 60px;
//  margin-bottom: 80px;
//}

.wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1728px;

  height: calc(100vh - 140px);
  margin-top: 60px;
  overflow-y: auto;
  overflow-x: hidden;
}