@use '../../../assets/styles/index.scss' as var;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  max-height: 65vh;
  overflow-y: auto; 
  scrollbar-width: thin;
  position: relative;


  @media (min-width: var.$breakpoint-md) {
    gap: 20px;
  }

  .scrollableContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    overflow-y: auto;
    max-height: 60vh; // Set a max height for scrolling
    scrollbar-width: thin;
    padding-right: 8px; // Add some padding for the scrollbar
    
    // For webkit browsers like Chrome and Safari
    &::-webkit-scrollbar {
      width: 6px;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 3px;
    }
    
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  .skinsWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;

    .skin {
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;

      border-radius: 8px;
      border: 1px solid var.$color-dark-gray;
      background-color: var.$footer-bg;
    }
  }

  .tabs {
    // width: 100%;
    display: grid;
    padding: 3px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    border-radius: 30px;
    background-color: var.$color-card-bg;


    @media (min-width: var.$breakpoint-md) {
      padding: 4px;
      width: fit-content;
    }

    .tab {
      cursor: pointer;
      border-radius: 28px;
      display: flex;
      padding: 5px 10px;
      justify-content: center;
      align-items: center;

      user-select: none;
      outline: none;
      -webkit-tap-highlight-color: transparent;
      color: var.$color-text-semi-transparent;
      text-overflow: ellipsis;
      font-size: 12px;
      font-weight: 500;
      line-height: 12px;

      @media (min-width: var.$breakpoint-md) {
        font-size: 14px;
      }

      &.active {
        background-color: var.$color-badge-button-bg;
        color: var.$color-black;
      }
    }
  }

  .companies {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .errorMessage {
    color: var.$color-red;
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
  }

  .message {
    color: var.$color-text-semi-transparent;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;

    @media (min-width: var.$breakpoint-md) {
      font-size: 14px;
      line-height: 130%;
    }
  }

  .button {
    user-select: none;
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 500;

    color: var.$color-text;
    border: 1px solid var.$color-border-primary;
    background-color: var.$color-primary;

    @media (min-width: var.$breakpoint-md) {
      padding: 14px;
      font-size: 16px;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.stickyButtonContainer {
  position: sticky;
  bottom: 0;
  z-index: 100;
  display: flex;
  padding-top: 12px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background: #141319;

  .createButton {
    display: flex;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #2064C0;
    background: #2F80ED;

    color: var.$color-white;
    text-align: center;
    font-family: var.$font-default;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    &.disabledButton {
      cursor: not-allowed;
      display: flex;
      padding: 14px;
      justify-content: center;
      align-items: center;
      gap: 5px;
      align-self: stretch;
      border-radius: 8px;
      background: #24252C;
      border: 1px solid #24252C;

      color: #373A43;
    }
  }
}

.glowing {
  box-shadow: 2px 3px 40px var.$color-primary;
  border: 2px solid var.$color-primary;
}

.glowingBtn {
  box-shadow: 0 0 50px var.$color-primary;
}

.glowingBtnElevated {
  box-shadow: 0 0 50px var.$color-primary;
  z-index: 2000;
}