@use '../../../assets/styles/index.scss' as var;

.visibleOverflow {
  overflow: visible;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  max-height: 65vh;
  scrollbar-width: thin;
  position: relative;

  overflow-y: auto;

  &.visibleOverflow {
    overflow: visible;
  }
  

  @media (min-width: var.$breakpoint-md) {
    gap: 20px;
  }

  .scrollableContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    max-height: 65vh;
    scrollbar-width: thin;
    padding: 2px 2px;
    margin-top: -10px;

    overflow-x: hidden;

    overflow-y: auto;

    &.visibleOverflow {
      overflow: visible;
    }
    
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  .skinsWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;

    .skin {
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;

      border-radius: 8px;
      border: 1px solid var.$color-dark-gray;
      background-color: var.$footer-bg;
    }
  }

  .tabs {
    // width: 100%;
    display: grid;
    padding: 3px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    border-radius: 30px;
    background-color: var.$color-card-bg;


    @media (min-width: var.$breakpoint-md) {
      padding: 4px;
      width: fit-content;
    }

    .tab {
      cursor: pointer;
      border-radius: 28px;
      display: flex;
      padding: 5px 10px;
      justify-content: center;
      align-items: center;

      user-select: none;
      outline: none;
      -webkit-tap-highlight-color: transparent;
      color: var.$color-text-semi-transparent;
      text-overflow: ellipsis;
      font-size: 12px;
      font-weight: 500;
      line-height: 12px;

      @media (min-width: var.$breakpoint-md) {
        font-size: 14px;
      }

      &.active {
        background-color: var.$color-badge-button-bg;
        color: var.$color-black;
      }
    }
  }

  .companies {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;

    &.firstIntegration {
      grid-template-columns: repeat(1, 1fr);
      padding: 4px;
    }
  }

  .errorMessage {
    color: var.$color-red;
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
  }

  .message {
    color: var.$color-text-semi-transparent;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;

    @media (min-width: var.$breakpoint-md) {
      font-size: 14px;
      line-height: 130%;
    }
  }

  .button {
    user-select: none;
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 500;

    color: var.$color-text;
    border: 1px solid var.$color-border-primary;
    background-color: var.$color-primary;

    @media (min-width: var.$breakpoint-md) {
      padding: 14px;
      font-size: 16px;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.stickyButtonContainer {
  position: sticky;
  bottom: 0;
  z-index: 100;
  display: flex;
  padding-top: 2px;
  width: 100%;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  //background: #141319;

  // Fix for full width across container
  margin-left: -5px;
  margin-right: -5px;
  width: calc(100% + 10px);
  padding-left: 5px;
  padding-right: 5px;

  .createButton {
    display: flex;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #2064C0;
    background: #2F80ED;

    color: var.$color-white;
    text-align: center;
    font-family: var.$font-default;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    &.disabledButton {
      cursor: not-allowed;
      display: flex;
      padding: 14px;
      justify-content: center;
      align-items: center;
      gap: 5px;
      align-self: stretch;
      border-radius: 8px;
      background: #24252C;
      border: 1px solid #24252C;

      color: #373A43;
    }
  }
}

.glowing {
  position: relative;
  box-shadow: 0px 0px 60px 10px rgba(47, 115, 189, 0.9);
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
  

  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: inherit;
    background: rgba(47, 115, 189, 0.5);
    filter: blur(20px);
    z-index: -1;
    animation: glowPulse 1.5s infinite alternate ease-in-out;
  }}

.glowingBtn {
  box-shadow: 0 0 20px var.$color-primary;
}

.glowingBtnElevated {
  box-shadow: 0 0 50px var.$color-primary;
  z-index: 2000;
}