@use '../../../assets/styles/index.scss' as var;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  .skinsWrapper {
    display: flex;
    gap: 5px;
    
    .skin {
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;

      border-radius: 8px;
      border: 1px solid var.$color-dark-gray;
      background-color: var.$footer-bg;
    }
  }

  .tabs {
    width: 100%;
    display: grid;
    padding: 3px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    border-radius: 30px;
    background-color: var.$color-card-bg;


    .tab {
      cursor: pointer;
      border-radius: 28px;
      display: flex;
      padding: 5px 10px;
      justify-content: center;
      align-items: center;

      user-select: none;
      color: var.$color-text-semi-transparent;
      text-overflow: ellipsis;
      font-size: 12px;
      font-weight: 500;
      line-height: 12px;

      &.active {
        background-color: var.$color-badge-button-bg;
        color: var.$color-black;
      }
    }
  }

  .companies {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .errorMessage {
    color: var.$color-red;
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
  }

  .message {
    color: var.$color-text-semi-transparent;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
  }

  .button {
    user-select: none;
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 500;

    color: var.$color-text;
    border: 1px solid var.$color-border-primary;
    background-color: var.$color-primary;

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.glowing {
  box-shadow: 2px 3px 40px var.$color-primary;
  border: 2px solid var.$color-primary;
}

.glowingBtn {
  box-shadow: 0 0 50px var.$color-primary;
}