@use '../abstracts/variables' as var;

@mixin transition($args...) {
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  transition-property: $args;
}

@mixin hide-scroll() {
  @-moz-document url-prefix() {
    scrollbar-width: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin custom-scroll() {
  &::-webkit-scrollbar {
    width: 4px;
    background: #282830;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: #505b78;
    border-radius: 2px;
  }
}

*::-webkit-scrollbar {
  width: 4px;
  background: #282830;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background: #505b78;
  border-radius: 2px;
}

@mixin shake($duration: 0.3s, $ease: ease-in-out) {
  animation: shake $duration $ease;
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@mixin multi-size($width-sm, $width-md, $ratio: 1) {
  aspect-ratio: $ratio;
  width: $width-sm;

  @media (min-width: var.$breakpoint-md) {
    width: $width-md;
  }
}

@mixin multi-fz($fz-sm, $fz-md) {
  font-size: $fz-sm;

  @media (min-width: var.$breakpoint-md) {
    font-size: $fz-md;
  }
}
