@mixin transition($args...) {
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  transition-property: $args;
}

@mixin hide-scroll() {
  @-moz-document url-prefix() {
    scrollbar-width: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin custom-scroll() {
  &::-webkit-scrollbar {
    width: 4px;
    background: #282830;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: #505B78;
    border-radius: 2px;
  }
}